.wpscp-calendar-wrap .fc-dayGridWeek-view .fc-content-skeleton,
.wpscp-calendar-wrap .fc-dayGridDay-view .fc-content-skeleton {
  padding-bottom: 1em;
}
.wpscp-calendar-wrap .fc-dayGrid-view .fc-body .fc-row {
  min-height: 4em;
}
.wpscp-calendar-wrap .fc-row.fc-rigid {
  overflow: hidden;
}
.wpscp-calendar-wrap .fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.wpscp-calendar-wrap table thead th.fc-widget-header {
  height: 40px;
  font-size: 16px;
  line-height: 40px;
}
.wpscp-calendar-wrap th.fc-widget-header,
.wpscp-calendar-wrap .fc-widget-content,
.wpscp-calendar-wrap .fc-day-top {
  background: #f0f2f6;
  color: #405068;
}
.wpscp-calendar-wrap .fc th, 
.wpscp-calendar-wrap .fc td {
  border-width: 2px;
}
.wpscp-calendar-wrap .fc-unthemed th, 
.wpscp-calendar-wrap .fc-unthemed td, 
.wpscp-calendar-wrap .fc-unthemed thead, 
.wpscp-calendar-wrap .fc-unthemed tbody, 
.wpscp-calendar-wrap .fc-unthemed .fc-divider, 
.wpscp-calendar-wrap .fc-unthemed .fc-row, 
.wpscp-calendar-wrap .fc-unthemed .fc-content, 
.wpscp-calendar-wrap .fc-unthemed .fc-popover, 
.wpscp-calendar-wrap .fc-unthemed .fc-list-view, 
.wpscp-calendar-wrap .fc-unthemed .fc-list-heading td {
  border-color: #fff;
}
/* week and day number styling */
.wpscp-calendar-wrap .fc-day-top.fc-other-month {
  opacity: 0.3;
}

.wpscp-calendar-wrap .fc-dayGrid-view .spinner {
	margin: 5px 0;
}
.wpscp-calendar-wrap .fc-dayGrid-view .fc-week-number,
.wpscp-calendar-wrap .fc-dayGrid-view .fc-day-number {
	padding: 2px 5px;
}
.wpscp-calendar-wrap .fc-dayGrid-view a.daynewlink {
    color: #405068;
    font-weight: 500;
    padding: 5px 0 5px 6px;
    font-size: 11px;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.wpscp-calendar-wrap .fc-dayGrid-view a.daynewlink:hover {
  color: #6c63ff;
}

.wpscp-calendar-wrap .fc-dayGrid-view th.fc-week-number,
.wpscp-calendar-wrap .fc-dayGrid-view th.fc-day-number {
  padding: 0 2px;
  /* column headers can't have as much v space */
}

.wpscp-calendar-wrap .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  background: #fff;
  margin-top: 2px;
  margin-right: 2px;
  font-weight: 500;
  color: #405068;
  float: right;
}

.wpscp-calendar-wrap .fc-rtl .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
}

.wpscp-calendar-wrap .fc-ltr .fc-dayGrid-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 3px 0;
}

.wpscp-calendar-wrap .fc-rtl .fc-dayGrid-view .fc-day-top .fc-week-number {
  float: right;
  border-radius: 0 0 0 3px;
}

.wpscp-calendar-wrap .fc-dayGrid-view .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}

/* when week/day number have own column */
.wpscp-calendar-wrap .fc-dayGrid-view td.fc-week-number {
  text-align: center;
}

.wpscp-calendar-wrap .fc-dayGrid-view td.fc-week-number > * {
  /* work around the way we do column resizing and ensure a minimum width */
  display: inline-block;
  min-width: 1.25em;
}





.wpscp-calendar-wrap .fc-day-grid-event .fc-content {
    white-space: inherit;
  }
  .fc-event .wpscp-event-post {
      padding: 5px 10px;
      height: 50px;
  }
  .fc-event .wpscp-event-post .postlink  {
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
   }
  .wpscp-calendar-wrap .wpscp-event-post .postactions {
    font-size: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    opacity: 0;
    transform: translateY(20px);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
  }
  .wpscp-calendar-wrap .wpscp-event-post:hover .postactions { 
    opacity: 1;
    transform: translateY(0);
  }
  .wpscp-calendar-wrap .wpscp-event-post:hover .postlink {
    opacity: 0;
    transform: translateY(-20px);
  }


.wpscp-calendar-wrap .wpscp-event-post .postlink > span {
    word-break: break-word;
}
.wpscp-calendar-wrap .wpscp-event-post a {
    display: inline-flex;
    font-size: 11px;
    line-height: 11px;
    text-decoration: none;
    padding-right: 5px;
    color: #c2c5ff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.wpscp-calendar-wrap .wpscp-event-post a:hover {
  color: #fff;
}
.wpscp-calendar-wrap .wpscp-event-post a i {
  font-size: 13px;
  width: auto;
  color: #c2c5ff;
}
.wpscp-calendar-wrap .fc-button-primary {
    color: #fff;
    background-color: #2278f6;
  border-color: #2278f6;
  box-shadow: none;
}
.wpscp-calendar-wrap .fc-today-button.fc-button.fc-button-primary,
.wpscp-calendar-wrap .fc-button-primary:hover,
.wpscp-calendar-wrap .fc-button-primary:not(:disabled):active, 
.wpscp-calendar-wrap .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #1c64ce;
  border-color: #1c64ce;
}
.wpscp-calendar-wrap .fc-button-primary:not(:disabled):active:focus, 
.wpscp-calendar-wrap .fc-button-primary:not(:disabled).fc-button-active:focus,
.wpscp-calendar-wrap .fc-button-primary:hover,
.wpscp-calendar-wrap .fc-button-primary:focus {
  box-shadow: none;
}
.wpscp-calendar-wrap #calendar-container {
  display: flex;
}
.wpscp-calendar-wrap #calendar {
  flex-basis: 83%;
  margin-left: 2%;
}

.wpscp-calendar-wrap #external-events {
  flex-basis: 15%;
  padding: 0 10px 10px 10px;
  background: #f7f7f7;
  text-align: left;
}
.wpscp-calendar-wrap #external-events.highlight {
  border-color: #3788d8;
}

        
.wpscp-calendar-wrap #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}
    
.wpscp-calendar-wrap #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
}
    
.wpscp-calendar-wrap #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}
    
.wpscp-calendar-wrap #external-events p input {
    margin: 0;
    vertical-align: middle;
}
.wpscp-calendar-wrap #external-events.highlight {
  background: #e1eff5;
}
.wpscp-calendar-wrap #external-events-listing .unscheduled {
  background-color: #ff5f7e;
  text-transform: capitalize;
  color: #fff;
  padding: 20px 15px;
  margin: 0 -10px;
}
#wpscp_quickedit a.close-modal {
    display: none !important;
}
.wpscp-calendar-wrap {
  background: #fff;
  padding: 25px 20px;
}
.wpscp-calendar-wrap table tbody.fc-body .fc-scroller {
  overflow: hidden !important;
  height: 100% !important;
}


/* quick view modal */
#wpscp_quickedit {
	padding-bottom: 30px;
}
#wpscp_quickedit #wpsp-status {
	display: none;
}
#wpscp_quickedit .entry-title {
	font-size: 22px;
	color: #51525a;
}
#wpscp_quickedit .form-group {
	margin-bottom: 10px;
}
#wpscp_quickedit .form-group input {
	padding-left: 20px;
	padding-right: 20px;
	height: 45px;
}
#wpscp_quickedit .form-group input:focus,
#wpscp_quickedit .form-group textarea:focus {
	border-color: #6452d2;
}
#wpscp_quickedit .form-group input,
#wpscp_quickedit .form-group textarea {
	border-radius: 5px;
	width: 100%;
	box-shadow: none;
}
#wpscp_quickedit .form-group textarea {
	padding-top: 15px;
	padding-left: 20px;
}
#wpscp_quickedit #timeEditControls,
#wpscp_quickedit .form-group-inline {
	display: inline-block;
}
#wpscp_quickedit #wpsp-status,
#wpscp_quickedit #timeEditControls input {
	width: 150px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	box-shadow: none;
	height: 45px;
	width: 100%;
}
#wpscp_quickedit #wpsp-status {
	margin-top: -5px;
}
.wpsp-dashboard-body a.btn-draft-post-create,
#wpscp_quickedit a.button-secondary.close,
#wpscp_quickedit #wpcNewPostScheduleButton {
	display: inline-block;
	padding: 2px 30px;
	font-size: 14px;
	line-height: 35px;
	height: auto !important;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 5px;
	color: #6452d2;
	box-shadow: none;
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#wpscp_quickedit #wpcNewPostScheduleButton:hover,
#wpscp_quickedit a.button-secondary.close:hover {
	background: #6452d2;
	color: #fff;
}
.wpsp-dashboard-body a.btn-draft-post-create,
#wpscp_quickedit #wpcNewPostScheduleButton {
	background: #6452d2;
	color: #fff;
	border-color: #6452d2;
}