.DS_Store
node_modules/
package-lock.json
composer.lock
includes/Admin/Settings/node_modules
includes/Admin/Settings/assets/js/admin.js.map
*.txt
.git
*.xml
**/*.map
.idea/*
.vscode/launch.json
includes/Admin/Settings/assets/css/admin.css
includes/Admin/Settings/assets/js/admin.asset.php
includes/Admin/Settings/assets/js/admin.js
includes/Admin/Settings/yarn.lock
includes/Admin/Settings/assets/css/calendar.css
includes/Admin/Settings/assets/js/calendar.asset.php
includes/Admin/Settings/assets/js/calendar.js
includes/Admin/Settings/stats.json
