# A set of files you probably don't want in your WordPres.org distribution
.babelrc                                   export-ignore
.deployignore                              export-ignore
.distignore                                export-ignore
.editorconfig                              export-ignore
.eslintignore                              export-ignore
.eslintrc                                  export-ignore
.git                                       export-ignore
.gitignore                                 export-ignore
.github                                    export-ignore
.gitattributes                             export-ignore
.gitlab-ci.yml                             export-ignore
.travis.yml                                export-ignore
**/.DS_Store                               export-ignore
Thumbs.db                                  export-ignore
behat.yml                                  export-ignore
bitbucket-pipelines.yml                    export-ignore
bin                                        export-ignore
.circleci/config.yml                       export-ignore
composer.json                              export-ignore
composer.lock                              export-ignore
dependencies.yml                           export-ignore
Gruntfile.js                               export-ignore
package.json                               export-ignore
package-lock.json                          export-ignore
phpunit.xml                                export-ignore
phpunit.xml.dist                           export-ignore
multisite.xml                              export-ignore
multisite.xml.dist                         export-ignore
.phpcs.xml                                 export-ignore
phpcs.xml                                  export-ignore
.phpcs.xml.dist                            export-ignore
phpcs.xml.dist                             export-ignore
README.md                                  export-ignore
webpack.config.js                          export-ignore
wp-cli.local.yml                           export-ignore
yarn.lock                                  export-ignore
tests                                      export-ignore
node_modules                               export-ignore
*.sql                                      export-ignore
*.tar.gz                                   export-ignore
*.zip                                      export-ignore
*.map                                      export-ignore
index.js                                   export-ignore
prepros-6.config                           export-ignore
prepros.config                             export-ignore
includes/Admin/Settings/node_modules       export-ignore
includes/Admin/Settings/app                export-ignore
includes/Admin/Settings/**/admin.js.LICENSE.txt     export-ignore
assets/sass                                export-ignore
.prettierignore                            export-ignore
.prettierrc.json                           export-ignore
vendor/abraham/twitteroauth/.github        export-ignore
vendor/abraham/twitteroauth/tests          export-ignore
vendor/dirkgroenen/pinterest-api-php/demo  export-ignore
vendor/dirkgroenen/pinterest-api-php/tests export-ignore
vendor/*.md     export-ignore
vendor/*.yml    export-ignore
vendor/*.cache    export-ignore
vendor/*.xml    export-ignore
vendor/**/LICENSE   export-ignore
vendor/**/build-phar.sh     export-ignore