/* Font Imports */



@import url(http://fonts.googleapis.com/css?family=Dosis|Lato);



/* Dashboard Style */





.dashboard-body {

	width: 1140px;

	padding: 20px 0 20px 20px;

	/*background: url(images/texture.png);*/

	font-family: 'Lato', sans-serif;

	font-size: 16px;

	color: #56585E; 

}



.dashboard-body h2 {

	font-family: 'Dosis', sans-serif;

	font-weight: 600;

	font-size: 26px;

}



.options-container {

	 width: 700px; 

	 float:left;

}





.form-table tr td {

	/*width: 200px;*/

	font-size: 16px;

	font-family: 'Lato', sans-serif; 

	color: #344A5C;

}


/*
.form-table input, .form-table textarea {

	padding: 10px 20px;

	border-radius: 10px;

}
*/


.wpscp-warning {

	border:1px solid #CC0000; 

	background:#FFEBE8;

}



.wpscp-warning span {

	 color:#FF0000;

}



.wpscp-button {

	background: #F16A5B;

	padding: 10px 20px;

	border: none;

	border-radius: 0!important;

	color: #fff;

	text-transform: uppercase;

	font-size: 18px;

	cursor: pointer;

	-webkit-transition: all .3s;

	-moz-transition: all .3s;

	transition: all .3s;

}



.wpscp-button:hover {

	background: #344A5C;

}



.wpscp-button2:hover, .wpscp-button3:hover {

	background: #F16A5B;

}





.wpscp-button2 {
	background: #4DAAD1;


}



.wpscp-button3 {

	background: #56585E;



}





a.wpscp-button2 , a.wpscp-button3 {

	text-decoration: none;

	padding: 10px 24px;

	border: none;

	color: #fff;

	font-size: 16px;

	cursor: pointer;

	-webkit-transition: all .3s;

	-moz-transition: all .3s;

	transition: all .3s;

}



/***************** Sidebar Style *******************/



.wpscp-sidebar {

	float:left; 

	margin-left: 50px;

	width:350px; 

	min-height:400px; 

	margin-top:30px;

	margin-right: 40px;

}



.sidebar-table {

	margin-top: 20px;

}





.widefat tr th {

	background: #627C83;

	color: #fff!important;

	font-size: 16px;

}



.widefat tr td, .widefat li  {

	font-size: 14px!important;

}



.recommended {

	margin-top: 50px;

}



.recommended p {

	text-align: center;

	font-size: 20px;

	color: #0074A2;

}



.recommended img {

	border: 3px solid;

	width: 100%;

	margin: 0 auto;



}



ul.social-icons {

	width: 200px;

	margin: 0 auto;

}



ul.social-icons li {

	float: left;

	padding: 5px;	

}



.newsletter-subscription {

width: 195px;

padding: 10px;

}



.subscribe-button {

	background: #F16A5B;

	border: none!important;

	color: #fff;

	text-transform: uppercase;

	font-size: 16px;

	padding: 8px;

	cursor: pointer;

}



.subscribe-button:hover {

	background: #344A5C;

};

