/* DayGridView
--------------------------------------------------------------------------------------------------*/
/* day row structure */
.fc-dayGridWeek-view .fc-content-skeleton,
.fc-dayGridDay-view .fc-content-skeleton {
  /* there may be week numbers in these views, so no padding-top */
  padding-bottom: 1em;
  /* ensure a space at bottom of cell for user selecting/clicking */
}

.fc-dayGrid-view .fc-body .fc-row {
  min-height: 4em;
  /* ensure that all rows are at least this tall */
}

/* a "rigid" row will take up a constant amount of height because content-skeleton is absolute */
.fc-row.fc-rigid {
  overflow: hidden;
}

.fc-row.fc-rigid .fc-content-skeleton {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* week and day number styling */
.fc-day-top.fc-other-month {
  opacity: 0.3;
}

.fc-dayGrid-view .spinner {
	margin: 5px 0;
}
.fc-dayGrid-view .fc-week-number,
.fc-dayGrid-view .fc-day-number {
	padding: 5px 10px;
}
.fc-dayGrid-view a.daynewlink {
    padding: 5px 6px;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.fc-dayGrid-view th.fc-week-number,
.fc-dayGrid-view th.fc-day-number {
  padding: 0 2px;
  /* column headers can't have as much v space */
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: right;
}

.fc-rtl .fc-dayGrid-view .fc-day-top .fc-day-number {
  float: left;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-week-number {
  float: left;
  border-radius: 0 0 3px 0;
}

.fc-rtl .fc-dayGrid-view .fc-day-top .fc-week-number {
  float: right;
  border-radius: 0 0 0 3px;
}

.fc-dayGrid-view .fc-day-top .fc-week-number {
  min-width: 1.5em;
  text-align: center;
  background-color: #f2f2f2;
  color: #808080;
}

/* when week/day number have own column */
.fc-dayGrid-view td.fc-week-number {
  text-align: center;
}

.fc-dayGrid-view td.fc-week-number > * {
  /* work around the way we do column resizing and ensure a minimum width */
  display: inline-block;
  min-width: 1.25em;
}





  .wpscp-calendar-wrap {
    padding: 15px;
  }
  .wpscp-calendar-wrap:before {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
  }
  .wpscp-calendar-wrap table thead tr th {
	  height: 50px;
	  line-height: 50px;
	  color: #fff;
	  background: #715ec8;
  }
  .wpscp-calendar-wrap .wpscp-event-post {
	padding: 5px 10px;
  }
  .wpscp-calendar-wrap .wpscp-event-post .postactions {
	display: inline-block;
  }
  .wpscp-calendar-wrap .wpscp-event-post .postlink  {
	  margin-bottom: 5px;
   }
   .wpscp-calendar-wrap .wpscp-event-post .postlink > span {
	   white-space: wrap;
   }
   .wpscp-calendar-wrap .fc-day-grid-event .fc-content {
	   white-space: pre-wrap;
   }
   .wpscp-calendar-wrap .fc-event .postactions {
		display: none;
   }
   .wpscp-calendar-wrap .fc-event:hover .postactions {
	   display: block;
   }
  .wpscp-calendar-wrap .wpscp-event-post a {
	  	padding-right: 5px;
		color: #fff;
  }
  .fc-button-primary {
      color: #fff;
      background-color: #2278f6;
	  border-color: #2278f6;
	  box-shadow: none;
  }
  .fc-today-button.fc-button.fc-button-primary,
  .fc-button-primary:hover,
  .fc-button-primary:not(:disabled):active, .fc-button-primary:not(:disabled).fc-button-active {
	  background-color: #1c64ce;
	  border-color: #1c64ce;
  }
  .fc-button-primary:not(:disabled):active:focus, .fc-button-primary:not(:disabled).fc-button-active:focus,
  .fc-button-primary:hover,
  .fc-button-primary:focus {
	  box-shadow: none;
  }

  #calendar {
    float: right;
      width: 80%;
  }
        
    #external-events {
        display: inline-block;
        width: 15%;
        padding: 10px;
        border: 1px solid #ccc;
        background: #eee;
        text-align: left;
    }

        
    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }
        
    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }
        
    #external-events p {
        margin: 1.5em 0;
        font-size: 11px;
        color: #666;
    }
        
    #external-events p input {
        margin: 0;
        vertical-align: middle;
    }
	#external-events-listing .unscheduled {
		background-color: #ff5f7e;
		color: #fff;
		padding: 20px 15px;
	}
    

a.close-modal {
    display: none !important;
}