/* Admin Bar Style */
#wp-admin-bar-wpscp .ab-sub-wrapper {
	min-width: 250px !important;
}
#wpadminbar #wp-admin-bar-wpscp.hover>.ab-item, 
#wpadminbar.nojq .quicklinks #wp-admin-bar-wpscp>.ab-item:focus, 
#wpadminbar:not(.mobile) #wp-admin-bar-wpscp:hover>.ab-item, 
#wpadminbar:not(.mobile) #wp-admin-bar-wpscp>.ab-item:focus{
	background: #1f3039;
	color: #fff;
}

#wpadminbar #wp-admin-bar-wpscp.menupop .ab-sub-wrapper {
	background: #1f3039;
	color: #aab5c5;
}
#wpadminbar #wp-admin-bar-wpscp.menupop .ab-sub-wrapper {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
#wpadminbar #wp-admin-bar-wpscp-default{
	padding-bottom: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top: 1px solid #fff;

}
#wpadminbar #wp-admin-bar-wpscp.menupop #wp-admin-bar-wpscp-default li:last-child{
	background: #0073a7;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#wpadminbar #wp-admin-bar-wpscp.menupop #wp-admin-bar-wpscp-default li ul li:last-child{
	background: transparent;
}
#wpadminbar #wp-admin-bar-wpscp.menupop #wp-admin-bar-wpscp-default li:last-child div,
#wpadminbar #wp-admin-bar-wpscp.menupop #wp-admin-bar-wpscp-default li:last-child a{
	color: #fff;
}
#wpadminbar #wp-admin-bar-wpscp.menupop #wp-admin-bar-wpscp-default li ul li:last-child a{
	color: #b4b9be;
}
#wp-admin-bar-wpscp-default .wpsp_arrow_prev{
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translate(0,-50%) rotate(-138deg);
	z-index: 100;

}

.wpsp_pagi_active{
	display: block !important;
}
#wp-admin-bar-wpscp-default .wpsp_arrow_next{
	width: 10px;
	height: 10px;
	display: block;
	position: absolute;
	top: 50%;
	left: auto;
	right: 10px;
	transform: translate(0,-50%) rotate(40deg);
	z-index: 100;
}
.ab-sub-wrapper.force-show {
    display: block !important;
}

/* quick view modal */
#wpscp_quickedit {
	padding-bottom: 30px;
}
#wpscp_quickedit .entry-title {
	font-size: 22px;
	color: #51525a;
}
#wpscp_quickedit .form-group {
	margin-bottom: 10px;
}
#wpscp_quickedit .form-group input {
	padding-left: 20px;
	padding-right: 20px;
	height: 45px;
}
#wpscp_quickedit .form-group input:focus,
#wpscp_quickedit .form-group textarea:focus {
	border-color: #6452d2;
}
#wpscp_quickedit .form-group input,
#wpscp_quickedit .form-group textarea {
	border-radius: 5px;
	width: 100%;
	box-shadow: none;
}
#wpscp_quickedit .form-group textarea {
	padding-top: 15px;
	padding-left: 20px;
}
#wpscp_quickedit #timeEditControls,
#wpscp_quickedit .form-group-inline {
	display: inline-block;
}
#wpscp_quickedit #wpsp-status,
#wpscp_quickedit #timeEditControls input {
	width: 150px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	box-shadow: none;
	height: 45px;
	width: 100%;
}
#wpscp_quickedit #wpsp-status {
	margin-top: -5px;
}
#wpscp_quickedit #timeEditControls {
	margin-left: 10px;
}
#wpscp_quickedit a.button-secondary.close,
#wpscp_quickedit #wpcNewPostScheduleButton {
	padding: 2px 30px;
	font-size: 14px;
	line-height: 35px;
	height: auto !important;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 5px;
	color: #6452d2;
	box-shadow: none;
	margin-right: 10px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
#wpscp_quickedit #wpcNewPostScheduleButton:hover,
#wpscp_quickedit a.button-secondary.close:hover {
	background: #6452d2;
	color: #fff;
}
#wpscp_quickedit #wpcNewPostScheduleButton {
	background: #6452d2;
	color: #fff;
	border-color: #6452d2;
}