/* general */
.wpscp-setup-wizard form select {
    width: 200px !important;
    height: 50px !important;
}
.wpscp-setup-wizard form select#man_days {
    width: 150px !important;
}
.wpscp-setup-wizard form input.invalid {
    background-color: #ffdddd;
}
.wpscp-setup-wizard .whatwecollecttext {
    margin: 0;
    margin-left: 10px;
    display: none;
}
.wpscp-setup-wizard .select2-selection .select2-selection__choice {
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    font-weight: 500;
    line-height: 14px;
    text-transform: capitalize;
    border: 1px solid #e7e7e7;
    margin: 5px;
    padding-right: 20px;
}
.wpscp-setup-wizard .select2-selection .select2-selection__choice__remove {
    font-weight: 500;
    margin-left: 2px;
    margin-right: -15px;
    float: right;
    font-size: 18px;
    line-height: 12px;
}
.wpscp-setup-wizard .form-table td p {
    display: inline-block;
}
/* Tab Nav */
.wpscp-setup-wizard .wpscp-tabnav-wrap {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li {
    display: inline-block;
    background-color: #fff;
}

.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav,
.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav {
    margin: 0;
    padding: 0;
}

.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li {
    margin-right: 20px;
    margin-left: 20px;
}
.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav > li {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #000;
}
.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li span {
    display: block;
}
.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li:after {
    position: absolute;
    left: 100%;
    width: 100px;
    height: 10px;
    background: #fff;
    content: '';
    top: 50%;
    margin-top: -5px;
    z-index: -1;
}

.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li:last-child:after {
    display: none;
}

.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li > span.tab-active {
    margin-right: 10px;
}

.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li.tab-active,
.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li.tab-active,
.wpscp-setup-wizard .wpscp-tabnav-wrap ul.tab-nav li.tab-active:after {
    background-color: #6c63ff;
    color: #fff;
}

.wpscp-setup-wizard .wpscp-tab-content-wrap .tab-content {
    display: none;
}
.wpscp-setup-wizard .wpscp-tab-content-wrap .tab-content.active {
    display: block;
}
/* Tab Content */
.wpscp-setup-wizard .wpscp-tab-content-wrap {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 100px 50px 120px 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    border: 25px solid #fff;
}
.wpscp-setup-wizard .wpscp-tab-content-wrap h2 {
    text-align: center;
    color: #666;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    font-style: italic;
}

/* button */
.wpscp-setup-wizard .wpscp-button-wrap {
    text-align: center;
}
.wpscp-setup-wizard .submit {
    display: inline-block;
}
.wpscp-setup-wizard input.button.button-primary,
.wpscp-setup-wizard .wpscp-prev-option,
.wpscp-setup-wizard .wpscp-next-option {
    display: inline-block;
    background-color: #6648fe;
    color: #fff;
    border: 0;
    padding: 10px 25px;
    border-radius: 3px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    line-height: auto;
    height: auto;
    margin: 30px 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
}
.wpscp-prev-option:hover,
.wpscp-next-option:hover {
    background-color: #6044ea;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Toggle Switch Button */
.wpscp-setup-wizard .switch-field {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    overflow: hidden;
}

.wpscp-setup-wizard .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.wpscp-setup-wizard .switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 15px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3),
        0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.wpscp-setup-wizard .switch-field label:hover {
    cursor: pointer;
}

.wpscp-setup-wizard .switch-field input:checked + label {
    background-color: #6648fe;
    color: #fff;
    box-shadow: none;
}

.wpscp-setup-wizard .switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.wpscp-setup-wizard .switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}
.wpscp-setup-wizard .wpsp-integ-content {
    padding: 0;
}
@media screen and (max-width: 1450px) {
    .wpscp-setup-wizard .wpsp_man_time_setting li:first-child,
    .wpscp-setup-wizard .wpsp_man_time_setting li:nth-child(2) {
        height: 70px;
    }
}

#toggleSwithElementContent .autoScheduler,
#toggleSwithElementContent .manualScheduler {
    display: none;
}
/* getting started field */
.wpsp_field_gettting_started {
    width: 400px;
    height: 60px;
    padding: 0 20px;
    border-radius: 35px;
    border-color: #6c63ff !important;
}

.text-center {
    text-align: center;
}

/* Feature List */
.wpscp-checkbox {
    overflow: hidden;
    display: flex;
    width: 430px;
    flex-flow: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin: 0 auto 20px;
    padding: 15px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 5px 18px 0 rgba(0, 4, 32, 0.08);
    position: relative;
}
.wpscp-checkbox input[type='checkbox'] {
    visibility: hidden;
    display: none;
}
.wpscp-checkbox label {
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    display: block;
}
.wpscp-checkbox label:after,
.wpscp-checkbox label:before {
    content: '';
    position: absolute;
    background: #cbcfd0;
}
.wpscp-checkbox label:before {
    content: ' ';
    position: absolute;
    width: 2em;
    height: 1em;
    left: 0.1em;
    transition: background 0.1s 0.1s ease;
    border: 1px solid #cbcfd0;
    border-radius: 50px;
}
.wpscp-checkbox label:after {
    content: ' ';
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    border-radius: 100%;
    left: 0.2em;
    top: 0.14em;
    transition: all 0.2s ease;
    box-shadow: 0 0 0 5px #fcfff4 inset;
    z-index: 2;
    -webkit-animation: switch-off 0.3s ease-out;
    animation: switch-off 0.3s ease-out;
}
.wpscp-checkbox p.wpscp-module-title {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin: 0.5em;
    display: flex;
}
.wpscp-checkbox p.wpscp-module-title > a {
    border: 1px solid #000;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    text-align: center;
    line-height: 10px;
    margin-left: 10px;
    opacity: 0.3;
    transition: opacity 0.3s ease 0s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.wpscp-checkbox .wpscp-pro-label {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
    left: -20px;
    width: 80px;
    background-image: linear-gradient(-122deg, #9271ff 0, #5725ff 100%);
    box-shadow: 0 3px 7px 0 rgba(0, 5, 41, 0.1);
    color: #fff;
}
.wpscp-checkbox .wpscp-pro-label {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(-45deg);
    position: absolute;
    top: 8px;
    left: -20px;
    width: 80px;
    background-image: linear-gradient(-122deg, #9271ff 0, #5725ff 100%);
    box-shadow: 0 3px 7px 0 rgba(0, 5, 41, 0.1);
    color: #fff;
}
/* notice */
.wpscp-setup-wizard .bottom-notice {
    position: absolute;
    right: 12px;
    bottom: 10px;
}
.wpscp-setup-wizard .bottom-notice-left {
    position: absolute;
    left: 12px;
    bottom: 10px;
}
.wpscp-setup-wizard .bottom-notice-left .btn-collect:focus {
    outline: none;
}
.wpscp-setup-wizard .bottom-notice-left .btn-collect,
.wpscp-setup-wizard .bottom-notice .btn-skip {
    text-decoration: none;
    text-decoration: underline;
    border: 0;
    padding: 5px 10px;
    background: #f5f5f5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}
.wpscp-setup-wizard .bottom-notice .btn-skip:hover {
    color: #fff;
    background: #6044ea;
}

.wpscp-setup-wizard .advanced-edit {
    background: #fff;
    text-align: center;
    padding: 50px;
}
.wpscp-setup-wizard .advanced-edit h3 {
    margin-bottom: 30px;
}
#advanced-edit-button {
    background: #6c62ff;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
}
#advanced-edit-button:hover {
    color: #fff;
}
