.wpsp-modal--wrapper h2,h4,h5 {
    margin: 0; 
}
h2.title {
    font-size: 20px;
    line-height: 1em;
    font-weight: 500;
    color: #1D2939;
    margin-bottom: 24px;;
}
h4.title {
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
    color: #1D2939;
}
h5.title {
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;
    color: #475467;
}
.wpsp-modal--wrapper label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 1em;
    color: #1D2939;
}
.wpsp-modal--wrapper .opacity {
    opacity: 0;
}

/* Checkbox Styles */
.wpsp-modal--wrapper input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid #D7DBDF;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}
.wpsp-modal--wrapper input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3px;
    height: 6px;
    border: solid #FFFFFF;
    border-width: 0 1.5px 1.5px 0;
    transition: ease-in-out .35s;
    transform: translate(-50%, -50%) rotate(45deg);
}
.wpsp-modal--wrapper input[type="checkbox"]:checked {
    background-color: #6C62FF;
    border: 1px solid #6C62FF;
}
.wpsp-modal--wrapper input[type="checkbox"]:focus {
    box-shadow: none;
    outline: 0;
}
.wpsp-modal--wrapper input[type="checkbox"]::before {
    display: none;
}

/* Toggle Styles */
.wpsp-modal--wrapper label.toggle--wrap {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.wpsp-modal--wrapper .toggle--wrap input {
    display: none;
}
.wpsp-modal--wrapper .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #B5B5BC;
    border-radius: 20px;
    transition: ease-in-out .35s;
}
.wpsp-modal--wrapper .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    transition: ease-in-out .35s;
}
.wpsp-modal--wrapper input:checked + .slider {
    background-color: #6C62FF;
}
.wpsp-modal--wrapper input:checked + .slider:before {
    transform: translateX(20px);
}

/* Modal layout Styles */
.wpsp-post--modal {
    background: rgba(27, 27, 80, .4) !important;
    display: flex;
    inset: 0;
    overflow: auto;
    position: fixed;
    z-index: 99999 !important;
}
.wpsp-post--modal .wpsp-modal--wrapper {
    background: #fff;
    border-radius: 14px;
    box-sizing: border-box;
    width: 100%;
    max-width: 922px;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.wpsp-modal--header {
    padding: 16px 32px;
}
.wpsp-modal--body {
    display: flex;
    justify-content: space-between;
}
.scheduling--wrapper {
    flex: 1;
    padding: 24px 20px 24px 32px;
    background: #F9F8FD;
}
.wpsp-post--card {
    background: #FFFFFF;
    padding: 16px;
    border-radius: 12px;
}
.scheduling--wrapper .wpsp-post--card:not(:last-child) {
    margin-bottom: 16px;
}
.card--title {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
.select--wrapper {
    margin-bottom: 16px;
}
.wpsp-post-items--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.wpsp-post--items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.wpsp-post--items .card--title {
    margin-bottom: 0;
}
.wpsp-tag--wrapper {
    margin-top: 20px;
}
.wpsp-tag--wrapper .card--title {
    margin-bottom: 8px;
}
.tag-item--wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: 1px solid #ECEFF5;
    border-radius: 8px;
}
.tag--item {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 1px solid #E5E3FF;
    border-radius: 5px;
    background: #F3F2FF;
    padding: 6px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #6C62FF;
}
.tag--item svg {
    cursor: pointer;
}
.advance-schedule--wrapper {
    margin-top: 20px;
}
.social-share--wrapper {
    flex: 0 0 318px;
    padding: 24px 20px;
    background: #F2F0FA;
    border-left: 1px solid #E9E7F4;
}
.advance-schedule--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}
.advance-schedule--header h5.title {
    color: #1D2939;
}
.wpsp-post-items--wrapper {
    margin-top: 16px;
}
.add-version--wrap {
    display: flex;
    justify-content: flex-end;
}
.add-version--btn {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 10px 12px;
    border-radius: 6px;
    background: #F3F2FF;
    border: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #6C62FF;
    cursor: pointer;
}
.banner--wrapper {
    margin-top: 12px;
}
.banner--btn {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: #6C62FF;
    background: transparent;
    padding: 12px;
    border: 1px solid #6C62FF;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}
.banner--img {
    max-width: 100%;
    max-height: 140px;
    border-radius: 4px;
}
.upload-button--wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}
.upload-button--wrapper .btn {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 6px;
    padding: 12px;
}
.upload-button--wrapper .upload--btn {
    color: #FFFFFF;
    background: #6C62FF;
    border: 1px solid #6C62FF;
}
.upload-button--wrapper .remove--btn {
    color: #FD2626;
    background: transparent;
    border: 1px solid #FFB4B4;
}
.social-platform--wrapper {
    padding-top: 24px;
}
.social-platform--wrapper span.title {
    font-size: 14px;
    font-weight: 500;
    color: #6E6E8D;
    padding-bottom: 16px;
    display: block;
}
.social-platform--wrapper .card--title {
    margin-bottom: 8px;
}
.social-platform--wrapper .social--item:not(:last-child) {
    margin-bottom: 20px;
}

/* Footer Styles */
.wpsp-modal--footer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    background: #F9F8FD;
    padding: 12px 16px;
    border-top: 1px solid #ECEFF5;
}
button.btn {
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}
button.primary-btn {
    color: #FFFFFF;
    background: #6C62FF;
}
button.secondary-btn {
    color: #6C62FF;
    background: #F3F2FF;
}

/* Social Profile Select Styles */
.dropdown--selected {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    border: 1px solid #B4AFFF;
    border-radius: 8px;
    padding: 10px 12px;
    cursor: pointer;
    background: #FFFFFF;
    min-height: 18px;
    position: relative;
}
.dropdown--selected svg {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown--selected span {
    font-size: 12px;
    line-height: 16px;
    color: #6E6E8D;
}
.avatar-tag {
    display: flex;
    align-items: center;
    background: #eee;
    padding: 2px 6px;
    border-radius: 999px;
    font-size: 12px;
}
.avatar-tag img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
}
.dropdown--options {
    display: none;
    margin-top: 4px;
    border: 1px solid #ECEFF5;
    border-radius: 8px;
    background: #fff;
    max-height: 240px;
    box-shadow: 0px 12px 48px 0px #1B1B501A;
    overflow-y: auto;
}
.dropdown--options.active {
    display: block;
}
.option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    transition: ease-in-out .25s;
    cursor: pointer;
}
.option:hover {
    background: #FAFAFF;
}
.author--details {
    display: flex;
    align-items: center;
    gap: 6px;
}
.author--details button {
    font-size: 8px;
    line-height: 1em;
    font-weight: 500;
    color: #6C62FF;
    padding: 6px 8px;
    background: #F3F2FF;
    border-radius: 20px;
    border: none;
}
.author--details button.profile {
    color: #6C62FF;
    background: #F3F2FF;
}
.author--details button.page {
    color: #007AB9;
    background: #F0FAFF;
}
.option img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Carousel Styles */
.carousal--wrapper {
    border: 1px solid #ECEFF5;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}
.carousal--tab {
    display: flex;
}
.carousal--tab .tab--item {
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;
    color: #1B1B50;
    flex: 1;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #EBEEF5;
    transition: ease-in-out .25s;
    cursor: pointer;
}
.carousal--tab .tab--item.active {
    background: #6C62FF;
    color: #FFFFFF;
}
.tab--content {
    margin: 12px;
    padding: 12px;
    border: 1px dashed #9D97FD;
    border-radius: 8px;
    background: #F7F7FC;
}
.tab--content .thumbnail {
    max-width: 60px;
    max-height: 8px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}
.tab--content svg {
    margin-bottom: 8px;
    cursor: pointer;
}
.tab--content .text {
    font-size: 14px;
    line-height: 1em;
    font-weight: 500;
    color: #1B1B50;
    margin: 0 auto;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
    text-align: center;
}
.tab--content .subtext {
    font-size: 12px;
    line-height: 1em;
    color: #6E6E8D;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 12px;
}
.tab--content button.btn {
    padding: 12px;
    border-radius: 6px;
    border: none;
    display: inline-flex;
    cursor: pointer;
}
.tab--content button.btn-gray {
    color: #F3F2FF;
    background: #B5B5BC;
    border: 1px solid #B5B5BC;

}
.tab--content button.btn-light {
    color: #1B1B50;
    background: transparent;
    border: 1px solid #ECEFF5;
}
.tab--content button.primary-btn {
    margin-top: 8px;
}

/* Popup Styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popup-content {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
}
.popup-content img {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
}
.slider-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.slider-nav button {
    padding: 6px 14px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    background: #6366f1;
    color: white;
    cursor: pointer;
}



/* .wpsp-modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.wpsp-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    z-index: 10000;
} */

