.schedulepress-options {
    font-family: "Inter" sans-serif;
}
.sc-publish-future .components-checkbox-control,
.sc-publish-future .components-base-control__field {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.sc-publish-future .components-checkbox-control__label {
    margin-right: 3px;
    font-size: 14px;
    font-weight: 400;
    color: #1B1B50;
}
.sc-publish-future .components-checkbox-control input[type="checkbox"] {
    border: 1px solid #ddd;
    box-shadow: unset;
}
.sc-publish-future .components-checkbox-control input[type="checkbox"]:checked {
    background-color: #02AC6E;
    /* border: none; */
}
.sc-publish-future-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.sc-publish-future-buttons button {
    border-radius: 6px;
    padding: 14px;
    font-size: 14px;
    background-color: #6C62FF !important;
}
.schedulepress-options h2.components-panel__body-title button{
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    justify-content: start;
}
.schedulepress-options h2.components-panel__body-title button span.wpsp-icon{
    margin: 0;
}

/* Start social share css  */
.social-share .social-accordion-item {
    background: #F9FAFC;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #EBEEF5;
    border-radius: 6px;
    user-select: none;
}
.social-share .social-accordion-item .social-accordion-button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.social-share .social-accordion-item .social-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.social-share .social-accordion-item .social-profile input[type="checkbox"]{
    margin: 0;
}
.social-share {
    margin-top: 30px;
}
.social-share .social-accordion-item .social-profile h3 {
    margin: 0;
}
.social-share .social-share-title {
    font-size: 16px;
    color: #1B1B50;
    font-weight: 500;
    margin: 0 0 20px 0;
}
.social-share .share-checkbox span {
    font-size: 14px;
    color: #1B1B50;
    margin-left: 5px;
}
.social-share .share-checkbox {
    margin-bottom: 30px;
}
.social-share-wrapper {
    margin-bottom: 20px;
}
.social-share-wrapper .social-accordion-item .social-accordion-button img {
    width: 24px;
    height: 24px;
}
.social-share-wrapper .social-accordion-item .social-accordion-button span{
    font-size: 14px;
    font-weight: 500;
}
.social-share .social-share-wrapper .accordion-content {
    margin-top: 18px;
}
.social-share .share-btn {
    border-radius: 6px;
    padding: 14px;
    font-weight: 500;
    background-color: #6C62FF;
}
.interface-complementary-area .unpublish-on h3,
.interface-complementary-area .republish-on h3 {
    font-size: 14px;
    margin-bottom: 0.6rem;
    display: inline-flex;
    margin-right: 10px;
}
.interface-complementary-area a.info {
  text-decoration: none;
}
.interface-complementary-area .unpublish-on, .interface-complementary-area .republish-on {
    margin: 20px 0;
}
.social-share .social-accordion-item .social-accordion-button {
    cursor: pointer;
}
.components-modal__frame.social-share-modal {
    min-width: 600px;
}
.social-share-modal > .components-modal__content {
    margin: 0;
    position: relative;
}
.social-share-modal > .components-modal__content .components-button.has-icon{
    position: absolute;
    right: 5px;
    top: 0;
}
.social-share-modal > .components-modal__content .components-modal__header .components-button svg {
    width: 22px;
    height: 22px;
    fill: #989FAB;
}
.social-share-modal .social-profile .single-profile{
    border: 1px solid #EBEEF5;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.social-share-modal .social-profile .single-profile:last-child{
    margin-bottom: 0;
}
.social-share-modal .social-profile .single-profile .single-profile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-share-modal .social-profile .single-profile .single-profile-content span{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.social-share-modal .single-profile .profile-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-share-modal .single-profile .profile-list h3 {
    margin: 0;
}
.social-share-modal .single-profile .profile-list img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.social-share-modal .social-profile .single-profile .message {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #FFF3E8;
    margin-top: 8px;
}

.social-share-modal .social-profile .single-profile .message span{
    color: #FF9437;
    font-style: italic;
}
.social-share-modal .social-profile .single-profile .message.success {
    background-color: #ECF5F4;
}
.social-share-modal .social-profile .single-profile .message.success span{
    color: #000;
}
.social-share-modal .badge {
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 500;
}
.social-share-modal .badge.facebook-page {
    color: #1877F2;
    background: #F5F9FE;
}
.social-share-modal .social-profile h2{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}
.social-share-modal .social-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.social-share-modal .social-logo img{
    width: 24px;
    height: 24px;
}

.css-1dnujmn {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: calc(50px);
    justify-content: start;
}

.social-share .social-share-wrapper .accordion-content {
    padding: 18px 10px 10px;
    border-top: 1px solid #EBEEF5;
}