/* Modal container */
.wpsp-post-panel-modal {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 9999;
}

.wpsp-post-panel-active {
    display: block;

}

/* Overlay */
.wpsp-post-panel-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
}

/* Content */
.wpsp-post-panel-content {
    position: absolute;
    inset: 0;
    background-color: #fff;
    /* width: 800px; */
    height: 600px;
    box-sizing: border-box;
    overflow-y: auto;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
}

.wpsp-post-panel-modal-content {
    display: flex;
    justify-content: start;
    gap: 10px;
}

/* Close button */
.wpsp-post-panel-close {
    position: absolute;
    top: 16px;
    right: 20px;
    border: none;
    background: transparent;
    font-size: 28px;
    cursor: pointer;
}