/* Modal container */
.wpsp-post-panel-modal {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 99999;
}

.wpsp-post-panel-active {
    display: block;

}

/* Overlay */
.wpsp-post-panel-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
}

/* Content */
.wpsp-post-panel-content {
    position: absolute;
    background-color: #fff;
    max-width: 970px;
    width: 90%;
    max-height: 90vh;
    height: auto;
    box-sizing: border-box;
    overflow: auto;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
}

.wpsp-post-panel-modal-content {
    display: flex;
    gap: 10px;
}

/* Close button */
.wpsp-post-panel-close {
    position: absolute;
    top: 22px;
    right: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
}