.wprf-tab-layout_calendar {
    .calendar_section {
        padding: 0 !important;
        background: transparent !important;
        .wprf-section-fields {
            display: flex;
            gap: 32px;
            .sidebar {
                flex-basis: 20%;
                padding: 32px;
                background-color: #fff;
                border-radius: 6px;
                box-sizing: border-box;
                select {
                    min-width: 140px;
                    margin-bottom: 20px;
                }
                .card {
                    position: relative;
                    margin-top: 20px;
                    padding: 14px 14px 10px;
                    min-width: 200px;
                    max-width: unset;
                    border: none;
                    box-shadow: none;
                    background: #FCF0E4;
                    border-radius: 6px;
                    box-sizing: border-box;
                    &:before {
                        position: absolute;
                        content: '';
                        width: 2px;
                        height: 64px;
                        background: #E8821E;
                        border-radius: 50px;
                        left: -1px;
                        top: 18px;
                    }
                    .set-time {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 1.2em;
                        color: #73400D;
                        margin-bottom: 10px;
                        display: block;
                    }
                    h3 {
                        color: #E8821E;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.2em;
                        margin: 0 0 10px;
                    }
                    .Unscheduled-badge {
                        font-size: 8px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 500;
                        line-height: 1.2em;
                        background: #E8821E;
                        padding: 4px 6px;
                        border-radius: 20px;
                    }
                    i {
                        position: absolute;
                        right: 14px;
                        top: 12px;
                        padding: 4px;
                        font-size: 12px;
                        color: #6E6E8D;
                        cursor: pointer;
                        transition: ease-in-out .25s;
                        &:hover {
                            .edit-area{
                                display: block;
                                opacity: 1;
                            }
                        }
                    }
                    .edit-area {
                        padding: 8px !important;
                        background: #fff;
                        border-radius: 6px;
                        width: 120px;
                        box-shadow: 0px 12px 48px 0px #1B1B501A;
                        position: absolute;
                        left: 0px;    
                        top: 22px;
                        transform: translateX(-50%);
                        z-index: 999;
                        li {
                            font-family: "Inter" !important;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 1.2em;
                            text-transform: capitalize;
                            color: #1B1B50;
                            padding: 10px 16px;
                            background: #fff;
                            border-radius: 6px;
                            width: 120px;
                            box-shadow: 0px 12px 48px 0px #1B1B501A;
                            position: absolute;
                            left: 0px;    
                            top: 20px;
                            transform: translateX(-50%);
                            z-index: 999;
                            li {
                                font-family: "Inter" !important;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 1.2em;
                                text-transform: capitalize;
                                color: #1B1B50;
                                text-decoration: none;
                                border: none;
                                padding: unset;
                                background: transparent;
                                cursor: pointer;
                                button, 
                                a {
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 1.2em;
                                    text-transform: capitalize;
                                    color: #1B1B50;
                                    text-decoration: none;
                                    border: none;
                                    padding: unset;
                                    background: transparent;
                                    cursor: pointer;
                                    
                                }
                                &:hover {
                                    background: #F3F2FF;
                                    color: #6C62FF;
                                    a {
                                        color: #6C62FF;
                                    }
                                }
                            }
                            &:hover {
                                background: #F3F2FF;
                                color: #6C62FF;
                            }
                        }
                    }
                }
                p {
                    margin: 32px 0 0;
                    .btn-draft-post-create {
                        background: #E5FAF4;
                        padding: 16px 22px;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.2em;
                        color: #26D39E;
                        text-decoration: none;
                        display: inline-block;
                        &:hover {
                            color: #26D39E;
                        }
                    }
                }
            }
            .main-content {
                flex-basis: 80%;
                background: #fff;
                padding: 30px;
                border-radius: 6px;
                .toolbar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-radius: 6px 6px 0 0;
                    margin-bottom: 18px;
                    .left {
                        display: flex;
                        gap: 18px;
                        select {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 1.2em;
                            color: #6E6E8D;
                            min-width: 140px;
                            height: 44px;
                            border: 1px solid #EBEEF5;
                            text-transform: capitalize;
                        }
                    }
                    .middle {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 1.2em;
                        color: #1B1B50;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        gap: 18px;
                        button {
                            background: #F3F2FF;
                            padding: 16px 22px;
                            border: none;
                            box-sizing: border-box;
                            border-radius: 6px;
                            color: #6C62FF;
                            font-size: 14px;
                            font-weight: 500;
                            cursor: pointer;
                        }
                        i {
                            font-size: 24px;
                            color: #fff;
                            background: #26D39E;
                            padding: 10px;
                            border-radius: 6px;
                            cursor: pointer;
                        }
                    }
                }
                .wprf-calendar-wrapper {
                    position: relative;
                    .button-control-month {
                        .wpsp-button-primary {
                            background-color: #F3F2FF !important;
                            border: 1px solid #EBEEF5 !important;
                            border-radius: 0 !important;
                            width: 40px !important;
                            height: 49px !important;
                            cursor: pointer;
                            .wpsp-icon {
                                font-size: 16px;
                                color: #6C62FF;
                            }
                        }
                        .wpsp-prev-button {
                            position: absolute !important;
                            left: 0px;
                            top: 0px;
                        }
                        .wpsp-next-button {
                            position: absolute !important;
                            right: 0px;
                            top: 0px;
                            i {
                                transform: rotateY(30deg);
                            }
                        }
                    }
                }
                .fc-theme-standard {
                    .fc-header-toolbar {
                        display: none;
                        // position: relative !important;
                        // margin-bottom: 0;
                        // .fc-toolbar-chunk {
                        //     .fc-toolbar-title {
                        //         display: none;
                        //     }
                        //     .fc-today-button {
                        //         display: none;
                        //     }
                        // }
                    }
                    .fc-view-harness {
                        margin: 0 40px !important;
                        position: relative;
                        thead {
                            .fc-scroller {
                                .fc-col-header-cell {
                                    padding: 14px 28px !important;
                                    background: #fff;
                                    transition: ease-in-out .25s;
                                    &:hover {
                                        background: #F3F2FF;
                                        a {
                                            color: #6C62FF;
                                        }
                                    }
                                    .fc-col-header-cell-cushion {
                                        font-size: 12px;
                                        font-weight: 500;
                                        color: #1B1B50;
                                        text-transform: uppercase;
                                        padding: 0;
                                    }
                                }
                            }

                        }
                        .fc-daygrid-body {
                            .fc-daygrid-day-frame {
                                padding: 6px;
                                background: #F9FAFC;
                                .fc-daygrid-day-top {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    justify-content: space-between;
                                    gap: 10px;
                                    .fc-daygrid-day-number {
                                        font-size: 14px;
                                        line-height: 1.2em;
                                        color: #6E6E8D;
                                        padding: 6px 8px;
                                        background: #fff;
                                        border-radius: 4px;
                                    }
                                    button {
                                        font-size: 12px;
                                        line-height: 1.2em;
                                        color: #6E6E8D;
                                        padding: 0;
                                        border: none;
                                        background: transparent;
                                        cursor: pointer;
                                    }
                                }
                                .fc-daygrid-day-events {
                                    .fc-event {
                                        border: none;
                                        background: #ECF5E7;
                                        padding: 14px;
                                        border-radius: 6px;
                                        margin-top: 6px;
                                        .wpscp-event-post {
                                            span {
                                                display: flex;
                                                flex-direction: column;
                                                font-size: 14px;
                                                line-height: 1.2em;
                                                font-weight: 500;
                                                color: #64AA3C;
                                                .posttime {
                                                    font-size: 12px !important;
                                                    color: #2C5417;
                                                    margin-bottom: 10px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.calender-selected-month {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.calender-selected-month span{
    color: #989FAB;
}