.wprf-tab-layout_calendar {
  .calendar_section {
    padding: 0 !important;
    background: transparent !important;
    .wprf-section-fields {
      display: flex;
      gap: 32px;
      .sidebar {
        flex-basis: 20%;
        padding: 32px;
        background-color: #fff;
        border-radius: 6px;
        box-sizing: border-box;
        @media screen and (max-width: 1439px) {
          padding: 28px;
        }
        @media screen and (max-width: 1023px) {
          padding: 24px;
        }
        .unscheduled {
          font-size: 24px;
          line-height: 1.2em;
          font-weight: 600;
          color: #1b1b50;
          margin: 0px 0 24px;
          @media screen and (max-width: 1439px) {
            font-size: 20px;
            margin: 0px 0 20px;
          }
          @media screen and (max-width: 1023px) {
            font-size: 16px;
            margin: 0px 0 16px;
          }
        }
        select {
          min-width: 140px;
          margin-bottom: 20px;
        }
        .event-wrapper {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: 24px;
        }
        p {
          margin: 32px 0 0;
          @media screen and (max-width: 1439px) {
            margin: 28px 0 0;
          }
          @media screen and (max-width: 1023px) {
            margin: 24px 0 0;
          }
          .btn-draft-post-create {
            background: #26d39e;
            border: none;
            padding: 16px 22px;
            border-radius: 6px;
            font-size: 14px;
            font-weight: 500;
            line-height: 1.2em;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            transition: ease-in-out 0.25s;
            &:hover {
              transform: scale(0.95);
            }
            @media screen and (max-width: 1439px) {
              font-size: 12px;
            }
            @media screen and (max-width: 1023px) {
              font-size: 10px;
            }
          }
        }
      }
      .main-content {
        flex-basis: 80%;
        background: #fff;
        padding: 18px 32px 32px;
        border-radius: 6px;
        @media screen and (max-width: 1439px) {
          padding: 18px 28px 28px;
        }
        @media screen and (max-width: 1023px) {
          padding: 14px 24px 24px;
        }
        .toolbar {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 18px;
          @media screen and (max-width: 1023px) {
            margin-bottom: 14px;
            gap: 8px;
          }
          .left {
            display: flex;
            gap: 18px;
            select {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.2em;
              color: #6e6e8d;
              min-width: 140px;
              height: 44px;
              border: 1px solid #ebeef5;
              text-transform: capitalize;
              @media screen and (max-width: 1439px) {
                font-size: 14px;
              }
              @media screen and (max-width: 1023px) {
                font-size: 12px;
              }
            }
          }
          .middle {
            font-size: 24px;
            font-weight: 600;
            line-height: 1.2em;
            color: #1b1b50;
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            @media screen and (max-width: 1439px) {
              font-size: 20px;
            }
            @media screen and (max-width: 1023px) {
              font-size: 16px;
            }
            > div > div:nth-child(2) {
              margin-left: 50%;
              transform: translateX(-50%);
              margin-top: 10%;
              background: #fff;
              border: none;
              animation: unset;
              box-shadow: 0px 12px 48px 0 rgba(27, 27, 80, 0.1);
              > div:nth-child(1) {
                padding: 12px 12px;
                font-weight: bold;
                display: flex;
                -webkit-box-pack: justify;
                justify-content: space-between;
                -webkit-box-align: center;
                align-items: center;
                background-color: transparent;
                color: #6c62ff;
                border-style: solid;
                border-width: 0 0 1px 0;
                border-color: #ebeef5;
                border-radius: 0 !important;
                span.sc-iGgWBj {
                  font-size: 20px !important;
                  line-height: 1.2em;
                  color: #6c62ff;
                  font-weight: 600;
                  @media screen and (max-width: 1439px) {
                    font-size: 18px !important;
                  }
                  @media screen and (max-width: 1023px) {
                    font-size: 16px !important;
                  }
                }
                .crmjJN {
                  cursor: pointer;
                  fill: #6c62ff;
                  background: #f3f2ff;
                  border: #ebeef5;
                }
                .kzaerY {
                  cursor: pointer;
                  fill: #6c62ff;
                  background: #f3f2ff;
                  border: #ebeef5;
                }
              }
              > div:nth-child(2) {
                height: 0px;
              }
              > div:nth-child(3) {
                background-color: transparent;
                border-radius: 0px;
                width: 400px;
                display: flex;
                flex-wrap: wrap;
                padding: 8px 24px;
                > div {
                  border: none;
                  padding: 16px 0px;
                  font-size: 12px !important;
                  font-weight: 500;
                  line-height: 1em;
                  text-transform: uppercase;
                  background-color: transparent;
                  color: #1b1b50;
                  height: unset;
                  display: flex;
                  -webkit-box-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  align-items: center;
                  flex: 0 0 33.33%;
                  cursor: pointer;
                  &:hover {
                    color: #6c62ff;
                  }
                  @media screen and (max-width: 1023px) {
                    font-size: 10px;
                  }
                }
                .FeHZw {
                  color: #6c62ff !important;
                }
              }
            }
          }
          .right {
            display: flex;
            align-items: center;
            gap: 16px;
            @media screen and (max-width: 1439px) {
              gap: 12px;
            }
            .button-control-month {
              display: flex;
              gap: 8px;
              opacity: 0;
              @media screen and (max-width: 1439px) {
                opacity: 1;
              }
              .wpsp-button-primary {
                background-color: #f3f2ff !important;
                border: 1px solid #ebeef5 !important;
                border-radius: 6px !important;
                width: 40px !important;
                height: 44px !important;
                cursor: pointer;
                @media screen and (max-width: 1439px) {
                  height: 40px !important;
                }
                .wpsp-icon {
                  font-size: 16px;
                  line-height: 1.2em;
                  color: #6c62ff;
                  @media screen and (max-width: 1439px) {
                    font-size: 14px;
                  }
                }
              }
            }
            .today-btn {
              background: #f3f2ff;
              padding: 0px 22px;
              border: none;
              box-sizing: border-box;
              border-radius: 6px;
              color: #6c62ff;
              font-size: 14px;
              line-height: 1.2em;
              font-weight: 500;
              height: 44px;
              cursor: pointer;
              @media screen and (max-width: 1439px) {
                font-size: 12px;
                padding: 0px 18px;
                height: 40px;
              }
            }
            .calendar-btn {
              font-size: 24px;
              line-height: 44px;
              height: 44px;
              color: #fff;
              background: #26d39e;
              padding: 0 10px;
              border-radius: 6px;
              cursor: pointer;
              @media screen and (max-width: 1439px) {
                font-size: 20px;
                padding: 0 8px;
                line-height: 40px;
                height: 40px;
              }
            }
          }
        }
        .wprf-calendar-wrapper {
          position: relative;
          .button-control-month {
            .wpsp-button-primary {
              background-color: #f3f2ff !important;
              border: 1px solid #ebeef5 !important;
              border-radius: 0 !important;
              width: 40px !important;
              height: 44px !important;
              cursor: pointer;
              .wpsp-icon {
                font-size: 16px;
                line-height: 1.2em;
                color: #6c62ff;
                @media screen and (max-width: 1439px) {
                  font-size: 14px;
                }
              }
            }
            .wpsp-prev-button {
              position: absolute !important;
              left: 0px;
              top: 0px;
              @media screen and (max-width: 1439px) {
                opacity: 0;
              }
            }
            .wpsp-next-button {
              position: absolute !important;
              right: 0px;
              top: 0px;
              @media screen and (max-width: 1439px) {
                opacity: 0;
              }
            }
          }
        }
        .fc-theme-standard {
          .fc-header-toolbar {
            display: none;
            // position: relative !important;
            // margin-bottom: 0;
            // .fc-toolbar-chunk {
            //     .fc-toolbar-title {
            //         display: none;
            //     }
            //     .fc-today-button {
            //         display: none;
            //     }
            // }
          }
          .fc-view-harness {
            margin: 0 40px !important;
            position: relative;
            @media screen and (max-width: 1439px) {
              margin: 0 0px !important;
            }
            thead {
              .fc-scroller {
                .fc-col-header-cell {
                  padding: 14px 28px !important;
                  background: #fff;
                  transition: ease-in-out 0.25s;
                  &:hover {
                    background: #f3f2ff;
                    a {
                      color: #6c62ff;
                    }
                  }
                  .fc-col-header-cell-cushion {
                    font-size: 12px;
                    line-height: 1.2em;
                    font-weight: 500;
                    color: #1b1b50;
                    text-transform: uppercase;
                    padding: 0;
                    @media screen and (max-width: 1023px) {
                      font-size: 10px;
                    }
                  }
                }
              }
            }
            .fc-daygrid-body {
              .fc-daygrid-day-frame {
                padding: 6px;
                background: #f9fafc;
                .fc-daygrid-day-top {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: space-between;
                  gap: 10px;
                  margin-bottom: 6px;
                  .fc-daygrid-day-number {
                    font-size: 14px;
                    line-height: 1.2em;
                    color: #6e6e8d;
                    padding: 6px 8px;
                    background: #fff;
                    border-radius: 4px;
                    z-index: initial;
                    @media screen and (max-width: 1439px) {
                      font-size: 12px;
                    }
                    @media screen and (max-width: 1023px) {
                      font-size: 10px;
                    }
                  }
                  button {
                    font-size: 12px;
                    line-height: 1.2em;
                    color: #6e6e8d;
                    padding: 0;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    @media screen and (max-width: 1023px) {
                      font-size: 10px;
                    }
                  }
                }
                .fc-daygrid-day-events {
                  .fc-event {
                    border: none;
                    background: transparent;
                    padding: 0;
                    margin-top: 0;
                    z-index: initial;
                    .card {
                      min-width: auto;
                      width: 100%;
                      cursor: pointer;
                    }
                    // .wpscp-event-post {
                    //   span {
                    //     display: flex;
                    //     flex-direction: column;
                    //     font-size: 14px;
                    //     line-height: 1.2em;
                    //     font-weight: 500;
                    //     color: #64aa3c;
                    //     .posttime {
                    //       font-size: 12px !important;
                    //       color: #2c5417;
                    //       margin-bottom: 10px;
                    //     }
                    //   }
                    // }
                    // .event-rendered-edit-icon {
                    //   position: absolute;
                    //   right: 0;
                    //   top: 0;
                    //   color: #000;
                    // }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.fc .fc-scroller-harness {
  overflow: visible !important;
}
.calender-selected-month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.calender-selected-month span {
  color: #989fab;
}
.wpsp-admin-wrapper #external-events-listing .edit-area,
.wpsp-admin-wrapper .fc-event .edit-area,
.wpsp-admin-wrapper .wpscp-event-post .edit-area {
  padding: 8px !important;
  background: #fff;
  border-radius: 6px;
  width: 120px;
  box-shadow: 0px 12px 48px 0px #1b1b501a;
  position: absolute;
  left: auto;
  right: 0;
  top: 22px;
  transform: translateX(0%) translateY(15px) !important;
  z-index: 999;
  li button {
    font-family: 'Inter' !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2em;
    text-transform: capitalize;
    color: #1b1b50;
    padding: 6px 16px;
    background: #fff;
    display: block;
    border-radius: 6px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    @media screen and (max-width: 1439px) {
      font-size: 12px;
    }
    @media screen and (max-width: 1023px) {
      font-size: 10px;
    }
    // width: 120px;
    // box-shadow: 0px 12px 48px 0px #1B1B501A;
    // position: absolute;
    // transform: translateX(-50%);
    left: 0px;
    top: 20px;
    z-index: 999;
    text-decoration: none;
    // li {
    //     font-family: "Inter" !important;
    //     font-size: 14px;
    //     font-weight: 500;
    //     line-height: 1.2em;
    //     text-transform: capitalize;
    //     color: #1B1B50;
    //     text-decoration: none;
    //     border: none;
    //     padding: unset;
    //     background: transparent;
    //     cursor: pointer;
    //     button,
    //     a {
    //         font-size: 14px;
    //         font-weight: 500;
    //         line-height: 1.2em;
    //         text-transform: capitalize;
    //         color: #1B1B50;
    //         text-decoration: none;
    //         border: none;
    //         padding: unset;
    //         background: transparent;
    //         cursor: pointer;

    //     }
    //     &:hover {
    //         background: #F3F2FF;
    //         color: #6C62FF;
    //         a {
    //             color: #6C62FF;
    //         }
    //     }
    // }
    &:hover {
      background: #f3f2ff;
      color: #6c62ff;
      a {
        color: #6c62ff;
      }
    }
  }
}

.fc-daygrid-day-bottom {
  .fc-daygrid-more-link {
    min-height: 25px;
    padding: 2px 8px;
    font-size: 12px;
    line-height: 1.2em;
    border-radius: 4px;
    background: #f3f2ff;
    color: #6c62ff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    @media screen and (max-width: 1023px) {
      font-size: 10px;
    }
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.fc-scroller-liquid-absolute::-webkit-scrollbar {
  display: none !important;
}
/* Hide scrollbar for IE, Edge and Firefox */
.fc-scroller-liquid-absolute {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
