/*-------- Input Field ----------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=text], input[type=search]:focus {
  box-shadow: none !important;
}
a:focus {
  box-shadow: none;
  border: none !important;
}
::placeholder {
  color: #A6A6BA;
}