/*-------- Input Field ----------*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
ul {
  padding: 0;
  margin: 0;
}
::placeholder {
  color: rgb(9, 255, 0);
}