.wpsp-admin-content {
    background: #F9FAFC;
    .wprf-tabs-wrapper {
        margin: 0px !important;
        .wprf-tab-menu-wrapper {
            margin-bottom: 24px !important;
            @media all and (max-width: 1023px)  { 
                margin-bottom: 20px !important;
            }
            .wprf-tab-nav {
                border-width: 0 0 1px 0;
                border-style: solid;
                border-color: #F0EFFF !important;
                flex-wrap: wrap;
                gap: 8px;
                padding: 24px 32px 0;
                @media screen and (max-width: 1317px)  { 
                    gap: 5px;
                    padding: 16px 20px 0;
                }
                .wprf-tab-nav-item {
                    padding: 16px 20px !important;
                    font-size: 16px !important;
                    background-color: transparent !important;
                    color: #6E6E8D !important;
                    border-top: 0px !important;
                    @media screen and (max-width: 1486px)  { 
                        padding: 14px 16px !important;
                        font-size: 14px !important;
                    }
                    @media screen and (max-width: 1270px)  { 
                        padding: 12px 14px !important;
                        font-size: 12px !important;
                    }
                    @media screen and (max-width: 1138px)  { 
                        padding: 10px 6px !important;
                    }
                    @media screen and (max-width: 1004px)  { 
                        padding: 10px 3px !important;
                    }
                }
                .wprf-active-nav {
                    border-color: #6C62FF !important;
                    color: #6C62FF !important;
                    font-weight: 600 !important;
                    box-shadow: 0px 1px #6C62FF;
                }
            }
        }
        .wprf-tab-content-wrapper {
            flex-basis: 100%;
            background: transparent;
            padding: 0;
            .wprf-tab-flex {
                display: flex;
                justify-content: space-between;
                .wprf-tab-contents {
                    flex: 90%;
                    padding: 0 32px;
                    .wprf-control-section {
                        margin-bottom: 0 !important;
                        border: none !important;
                        padding-bottom: 0 !important;
                        border-radius: 6px;
                    }
                    .pro_features_section {
                        background: #F3F2FF;
                        padding: 32px !important;
                        margin-bottom: 32px !important;
                        @media screen and (max-width: 1023px)  { 
                            padding: 24px !important;
                            margin-bottom: 24px !important;
                        }
                        .wprf-section-fields {
                            padding: 0 !important;
                            .wprf-pro_features-features {
                                .header {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    margin-bottom: 28px;
                                    @media screen and (max-width: 1023px)  {
                                        margin-bottom: 20px;
                                    }
                                    h3 {
                                        font-family: Inter;
                                        font-size: 24px;
                                        line-height: 30px;
                                        letter-spacing: 0px !important;
                                        font-weight: 600 !important;
                                        color: #1B1B50 !important;
                                        margin: 0px !important;
                                        text-transform: capitalize !important;
                                        background: transparent !important;
                                        padding: 0px !important;
                                        @media screen and (max-width: 1023px)  { 
                                            font-size: 18px;
                                        }
                                    }
                                    a {
                                        color: #6C62FF;
                                        text-decoration: none;
                                        font-weight: 500;
                                        font-size: 14px;
                                        line-height: 16px;
                                        font-family: 'Inter';
                                    } 
                                }
                                .content {
                                    display: flex;
                                    gap: 24px;
                                    a {
                                        padding: 24px;
                                        background: #fff;
                                        border-radius: 8px;
                                        text-decoration: none;
                                        .single-content {
                                            display: flex;
                                            align-items: center;
                                            gap: 16px;
                                            h5 {
                                                font-size: 16px;
                                                font-weight: 500;
                                                color: #1B1B50;
                                                line-height: 20px;
                                                margin: 0 !important;
                                            }
                                        }
                                        
                                    }
                                } 
                            }
                        }
                    }
                    .general_settings,
                    .email_notify {
                        background: #ffffff;
                        padding: 32px !important;
                        @media screen and (max-width: 1023px)  { 
                            padding: 24px !important;
                        }
                        h4 {
                            font-family: Inter;
                            font-size: 24px;
                            line-height: 30px;
                            letter-spacing: 0px !important;
                            font-weight: 600 !important;
                            color: #1B1B50 !important;
                            margin-bottom: 32px !important;
                            text-transform: capitalize !important;
                            background: transparent !important;
                            padding: 0px !important;
                            @media screen and (max-width: 1023px)  { 
                                font-size: 18px;
                                margin-bottom: 20px !important;
                            }
                        }
                        .wprf-section-fields {
                            padding-left: 0px !important;
                            padding-right: 0px !important;
                            .wprf-type-select {
                                padding-top: 8px !important;
                                padding-bottom: 8px !important;
                                .wprf-select__control {
                                    background-color: #F9FAFC;
                                    border-color: #EBEEF5;
                                    border-radius: 8px;
                                    padding: 9px;
                                    @media screen and (max-width: 1023px)  { 
                                        padding: 5px;
                                    }
                                    .css-1wa3eu0-placeholder {
                                        font-size: 16px;
                                        color: #6E6E8D;
                                        font-weight: 500;
                                        @media screen and (max-width: 1023px)  { 
                                            font-size: 14px;
                                        }
                                    }
                                    .css-1okebmr-indicatorSeparator {
                                        background-color: #989FAB;
                                    }
                                    .css-tlfecz-indicatorContainer {
                                        color: #989FAB;
                                    }
                                }
                            }
                            .wprf-control-wrapper {
                                gap: 20px;
                                justify-content: space-between;
                                border: 1px solid #EBEEF5;
                                border-radius: 6px;
                                padding: 24px;
                                margin-bottom: 12px !important;
                                @media screen and (max-width: 1023px)  { 
                                    padding: 20px;
                                }
                                .pro-deactivated {
                                    display: flex;
                                    align-items: center;
                                    flex-basis: 100%;
                                    justify-content: space-between;
                                    .wprf-control-label {
                                        display: flex;
                                        align-items: center;
                                        gap: 12px;
                                        .wprf-badge {
                                            display: flex;
                                            .wprf-badge-item {
                                                padding: 6px 10px;
                                                background: #FF9437;
                                                color: #fff;
                                                border-radius: 20px;
                                                font-size: 14px;
                                                line-height: 16px;
                                                font-weight: 500;
                                                text-transform: uppercase;
                                                font-family: inter;
                                            }
                                        }
                                    }
                                    .wprf-control-field {
                                        .wprf-toggle-wrap {
                                            order: 1;
                                        }
                                        .wprf-description {
                                            position: relative;
                                            font-family: 'Inter';
                                            font-weight: 500;
                                            color: #FF9437;
                                            margin-left: 0 !important;
                                            font-size: 14px !important;
                                            margin-right: 24px;
                                        }
                                    }
                                }
                                .wprf-control-label {
                                    flex-basis: auto;
                                    label {
                                        color: #1B1B50;
                                        font-size: 16px;
                                        font-weight: 500;
                                        font-family: inter;
                                        line-height: 20px;
                                        @media screen and (max-width: 1023px)  { 
                                            font-size: 14px;
                                        }
                                    }
                                }
                                .wprf-control-field {
                                    flex-basis: auto;
                                    
                                    
                                    // 
                                    // .wprf-toggle-wrap {
                                    //     .wprf-checked:before {
                                    //         background: #2df16e;
                                    //     }
                                    //     .wprf-input-label {
                                    //         width: 47px;
                                    //         position: relative;
                                    //         min-height: 24px;
                                    //         height: 24px;
                                    //         max-height: 24px;
                                    //         margin-bottom: 0;
                                    //         cursor: pointer;
                                    //         display: inline-block;
                                    //         margin-right: 0px !important;
                                    //         &:before {
                                    //             background: #f0f0f0;
                                    //             width: 47px;
                                    //             height: 24px;
                                    //             border: 0;
                                    //             left: 0;
                                    //             top: 0;
                                    //             border-radius: 16px;
                                    //             transition: all 0.4s ease;
                                    //         }
                                    //         &:after {
                                    //             left: 1px;
                                    //             top: 1px;
                                    //             width: 22px;
                                    //             height: 22px;
                                    //             border-radius: 50%;
                                    //             background: #fbfbfb;
                                    //             transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
                                    //             box-shadow: none;
                                    //         }
                                    //     }
                                    // }
                                }
                            }
                        }
                    }
                }
            }
            .wprf-submit {
                margin-top: 0 !important;
                padding: 32px;
                width: auto;
                @media screen and (max-width: 1023px) { 
                    padding: 24px;
                }
                button {
                    padding: 16px 26px;
                    background: #6C62FF;
                    color: #fff;
                    border-radius: 6px;
                    font-family: inter;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 17px;
                    cursor: pointer;
                }
            }
        }
    }
}