.wpsp-admin-content {
  background: #f9fafc;
  .wprf-tabs-wrapper {
    margin: 0px !important;
    .wprf-tab-menu-wrapper:not(.wprf-tab-menu-sidebar) {
      margin-bottom: 0 !important;
      .wprf-tab-nav {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #f0efff !important;
        flex-wrap: wrap;
        gap: 8px;
        padding: 24px 32px 0;
        @media screen and (max-width: 1439px) {
          padding: 20px 24px 0;
          gap: 4px;
        }
        @media screen and (max-width: 1023px) {
          padding: 16px 20px 0;
          gap: 2px;
        }
        .wprf-tab-nav-item {
          padding: 12px 20px 16px !important;
          font-size: 16px !important;
          font-weight: 500;
          line-height: 1.2em !important;
          background-color: transparent !important;
          color: #6e6e8d !important;
          border-top: 0px !important;
          @media screen and (max-width: 1439px) {
            font-size: 14px !important;
            padding: 10px 16px 12px !important;
          }
          @media screen and (max-width: 1023px) {
            font-size: 12px !important;
          }
          &.pro_feature {
            position: relative;
            &:before {
              position: absolute;
              content: '\e907';
              font-family: 'wpsp';
              font-size: 10px;
              height: 1.9em;
              width: 1.9em;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              background-color: #f6e6d7;
              border-radius: 50%;
              right: -4px;
              top: calc(50% - 2px);
              transform: translateY(-50%);
              color: #ff9437;
              @media screen and (max-width: 1439px) {
                top: calc(50% - 1px);
                right: -4px;
                font-size: 9px;
              }
              @media screen and (max-width: 1023px) {
                font-size: 8px;
                right: -2px;
                top: calc(50% - 1px);
              }
            }
          }
          &.wprf-active-nav {
            color: #6c62ff !important;
            position: relative;
            &:after {
              content: '';
              position: absolute;
              top: 100%;
              left: 0px;
              right: 0px;
              height: 1px;
              background-color: #6c62ff;
            }
          }
        }
      }
    }
    .wprf-tab-menu-wrapper.wprf-tab-menu-sidebar {
      flex-basis: 20% !important;
      margin-bottom: 0px !important;
      border-width: 1px;
      border-style: solid;
      border-color: #ebeef5 !important;
      border-radius: 6px;
      padding: 12px;
      background: #fff !important;
      .wprf-tab-nav {
        padding: 0 !important;
        border-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @media screen and (max-width: 1439px) {
          flex-direction: row;
          flex-wrap: wrap;
          gap: 6px;
        }
        .wprf-tab-nav-item {
          font-size: 18px !important;
          line-height: 1.2;
          font-weight: 500 !important;
          color: #1b1b50 !important;
          padding: 16px 30px 16px 20px !important;
          border-radius: 6px;
          background-color: transparent;
          border: none;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          @media screen and (max-width: 1439px) {
            flex: 0 0 calc(50% - 3px);
            max-width: calc(50% - 3px);
            border: 1px solid rgba(#ebeef5, 0.5);
          }
          @media screen and (max-width: 1023px) {
            font-size: 14px !important;
            padding: 12px 20px !important;
          }
          span {
            display: inline-flex;
            align-items: center;
            gap: 12px;
            &:before {
              font-family: 'wpsp';
              border-radius: 50%;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              flex-shrink: 0;
            }
          }
          &[data-key='layouts_facebook'] {
            span {
              &:before {
                content: '\e906';
                font-size: 24px;
                line-height: 1;
                background: #fff;
                color: #1877f2;
              }
            }
            &.wprf-active-nav {
              background-color: #f5f9fe;
            }
          }
          &[data-key='layouts_twitter'] {
            span {
              &:before {
                content: '\e91d';
                font-size: 24px;
                line-height: 1;
                background: #fff;
                color: #41a1f2;
              }
            }
            &.wprf-active-nav {
              background-color: #f1f8fe;
            }
          }
          &[data-key='layouts_linkedin'] {
            span {
              &:before {
                content: '\e91f';
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 12px;
                background: #007ab9;
                color: #fff;
              }
            }
            &.wprf-active-nav {
              background-color: #f0faff;
            }
          }
          &[data-key='layouts_pinterest'] {
            span {
              &:before {
                content: '\e924';
                font-family: 'wpsp';
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 12px;
                background: #e62027;
                color: #fff;
              }
            }
            &.wprf-active-nav {
              background-color: #fef6f6;
            }
          }
          &[data-key='layouts_instagram'] {
            span {
              &:before {
                content: '\e921';
                font-family: 'wpsp';
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 20px;
                background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
                border-radius: 0;
              }
            }
            &.wprf-active-nav {
              background-color: #fff2f7;
            }
          }
          &[data-key='layouts_medium'] {
            span {
              &:before {
                // content: '\e921';
                // font-family: 'wpsp';
                width: 24px;
                height: 24px;
                line-height: 24px;
                text-align: center;
                font-size: 20px;
                content: url('../images/medium-small.svg');
                // background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
                // background-image: url('../images/medium.svg');
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
                border-radius: 0;
              }
            }
            &.wprf-active-nav {
              background-color: #89666617;
            }
          }
          &[data-key='layouts_threads'] {
            span {
              &:before {
                width: 24px;
                height: 24px;
                line-height: 18px;
                text-align: center;
                font-size: 20px;
                content: url('../images/threads-small.svg');
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
                border-radius: 0;
              }
            }
            &.wprf-active-nav {
              background-color: rgb(137 102 102 / 15%);;
            }
          }
          &[data-key='layouts_google_business'] {
            span {
              &:before {
                width: 24px;
                height: 24px;
                line-height: 18px;
                text-align: center;
                font-size: 20px;
                content: url('../images/google-business-small.png');
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: #fff;
                border-radius: 0;
              }
            }
            &.wprf-active-nav {
              background-color: rgb(137 102 102 / 15%);;
            }
          }
        }
        .wprf-active-nav {
          color: #1b1b50 !important;
          box-shadow: none;
        }
      }
    }

    .wprf-tabs-wrapper.wprf-tab-menu-as-sidebar {
      border: none !important;
      flex-direction: row;
      background-color: #fff;
      border-radius: 6px;
      padding-right: 0px;
      padding: 0 !important;
      gap: 16px !important;
      @media screen and (max-width: 1439px) {
        gap: 12px !important;
        flex-direction: column;
      }
      @media screen and (max-width: 1023px) {
        gap: 10px !important;
      }
      .wprf-tab-content-wrapper {
        flex-basis: 80%;
        background: #f9fafc !important;
        border-radius: 6px;
        padding: 32px !important;
        @media screen and (max-width: 1439px) {
          padding: 24px !important;
        }
        @media screen and (max-width: 1023px) {
          padding: 20px !important;
        }
        .wprf-tab-contents {
          flex: auto !important;
          padding: 0 !important;
          max-width: 100% !important;
          .wprf-tab-content > .wprf-control-section {
            padding: 0 !important;
            background-color: transparent !important;
          }
        }
      }
    }

    .wprf-tab-content-wrapper {
      flex-basis: 100%;
      background: transparent;
      padding: 32px;
      padding-right: 0px;
      @media screen and (max-width: 1439px) {
        padding: 24px;
        padding-right: 0px;
      }
      @media screen and (max-width: 1023px) {
        padding: 20px;
        padding-right: 20px;
      }
      .wprf-tab-flex {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        @media screen and (max-width: 1439px) {
          gap: 24px;
        }
        @media screen and (max-width: 1023px) {
          gap: 20px;
          flex-direction: column;
        }
        .wprf-tab-contents {
          flex: 90%;
          &:last-child {
            max-width: 100%;
          }
          &:not(:last-child) {
            max-width: calc(100% - (300px + 32px));
            @media screen and (max-width: 1439px) {
              max-width: calc(100% - (250px + 24px));
            }
            @media screen and (max-width: 1023px) {
              max-width: 100%;
            }
          }
          .wprf-tab-content {
            .wprf-control-section {
              border: none !important;
              border-radius: 6px;
              background: #ffffff;
              padding: 32px;
              @media screen and (max-width: 1439px) {
                padding: 24px;
              }
              @media screen and (max-width: 1023px) {
                padding: 20px;
              }
              &:last-child {
                margin-bottom: 0;
              }
              &:not(:last-child) {
                margin-bottom: 32px;
                @media screen and (max-width: 1439px) {
                  margin-bottom: 24px;
                }
                @media screen and (max-width: 1023px) {
                  margin-bottom: 20px;
                }
              }
              .wprf-pro_features-features .header,
              .wprf-section-title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 0 0 32px;
                @media screen and (max-width: 1439px) {
                  margin: 0 0 24px;
                }
                @media screen and (max-width: 1023px) {
                  margin: 0 0 20px;
                }
                h3,
                h4 {
                  font-size: 24px;
                  line-height: 1.2em;
                  letter-spacing: 0px;
                  font-weight: 600;
                  color: #1b1b50;
                  text-transform: capitalize;
                  background: transparent;
                  margin: 0px;
                  padding: 0px;
                  @media screen and (max-width: 1439px) {
                    font-size: 20px;
                  }
                  @media screen and (max-width: 1023px) {
                    font-size: 18px;
                  }
                }
                p {
                  margin-top: 10px !important;
                  margin-bottom: 0 !important;
                  color: #6e6e8d;
                  font-size: 14px;
                  a {
                    color: #1b1b50;
                    &:hover {
                      color: #6c62ff;
                    }
                  }
                }
              }
              @import './fields';

              &.pro_features_section {
                background: #f3f2ff;
                .wprf-section-fields {
                  .wprf-pro_features-features {
                    .header {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      flex-direction: row !important;
                      h3 {
                        padding-left: 1.75em;
                        position: relative;
                        &:before {
                          position: absolute;
                          content: '\e907';
                          font-family: 'wpsp';
                          left: 0;
                          top: 0;
                          color: #ff9437;
                          font-size: 0.67em;
                          height: 1.9em;
                          width: 1.9em;
                          background-color: #f6e6d7;
                          display: inline-flex;
                          align-items: center;
                          justify-content: center;
                          border-radius: 50%;
                        }
                      }
                      a {
                        color: #6c62ff;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.1;
                        display: inline-flex;
                        align-items: center;
                        gap: 0.7em;
                        @media screen and (max-width: 1439px) {
                          font-size: 12px;
                        }
                        &:after {
                          content: '\e909';
                          font-family: 'wpsp';
                          color: #6c62ff;
                        }
                        @keyframes animate-right {
                          0% {
                            transform: translateX(0px) rotateY(0deg);
                          }
                          50% {
                            transform: translateX(10px) rotateY(90deg);
                          }
                          51% {
                            transform: translateX(-10px) rotateY(-90deg);
                          }
                          100% {
                            transform: translateX(0px) rotateY(0deg);
                          }
                        }
                        &:hover {
                          &:after {
                            animation: animate-right 0.5s;
                          }
                        }
                      }
                    }
                    .content {
                      display: grid;
                      grid-template-columns: repeat(4, 1fr);
                      column-gap: 20px;
                      row-gap: 16px;
                      @media screen and (max-width: 1439px) {
                        column-gap: 16px;
                        row-gap: 12px;
                        grid-template-columns: repeat(2, 1fr);
                      }
                      a {
                        width: 100%;
                        display: flex;
                        box-sizing: border-box;
                        padding: 20px;
                        background: #fff;
                        border-radius: 8px;
                        text-decoration: none;
                        flex-grow: 1;
                        &:focus {
                          box-shadow: none;
                        }
                        .single-content {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          gap: 16px;
                          i {
                            font-size: 32px;
                            color: #6c62ff;
                          }
                          h5 {
                            font-size: 16px;
                            line-height: 1.3;
                            font-weight: 500;
                            color: #1b1b50;
                            margin: 0 !important;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .wprf-submit {
        margin-top: 0 !important;
        padding: 32px 0 0 !important;
        width: auto;
        @media screen and (max-width: 1439px) {
          padding: 24px 0 0 !important;
        }
        @media screen and (max-width: 1023px) {
          padding: 20px 0 0 !important;
        }
        button {
          padding: 16px 26px;
          background: #6c62ff;
          color: #fff;
          border-radius: 6px;
          font-size: 14px;
          font-weight: 500;
          line-height: 1.2em;
          cursor: pointer;
        }
      }
    }

    .wprf-tab-content-wrapper {
      .wprf-tab-contents {
        .wprf-tab-content {
          .wprf-tabs-wrapper:not(.wprf-tab-menu-as-sidebar) {
            .wprf-tab-menu-wrapper:not(.wprf-tab-menu-sidebar) {
              .wprf-tab-nav {
                display: inline-flex;
                padding: 8px;
                background-color: #fff;
                border-radius: 6px;
                border: 1px solid #ebeef5;
                gap: 0!important;
                .wprf-tab-nav-item {
                  min-height: 48px;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  padding: 2px 23px !important;
                  box-sizing: border-box;
                  background: transparent;
                  border-radius: 6px;
                  &.wprf-active-nav {
                    background: #f3f2ff !important;
                    color: #6c62ff;
                  }
                  &.pro_feature {
                    &:before,
                    &:after {
                      display: none;
                    }
                  }
                }
              }
            }
            .wprf-tab-content-wrapper {
              background: transparent !important;
              padding: 0 !important;
              margin-top: 24px !important;
              @media screen and (max-width: 1439px) {
                margin-top: 20px !important;
              }
              @media screen and (max-width: 1023px) {
                margin-top: 16px !important;
              }
            }
          }
        }
      }
    }
  }
}
