.wprf-tab-layout_email_notify {
    .wprf-control-section {
        .wprf-section-fields{
            .wprf-control-section {
                .wprf-section-fields {
                    .wprf-control-wrapper {
                        .wprf-control-field {
                            .wprf-label-position-right {
                                input {
                                    border: none !important;
                                    background-color: transparent !important;
                                    &:focus {
                                        box-shadow: none ;
                                    }
                                }
                            }
                        }
                    }
                    .wprf-type-toggle {
                        padding: 0 !important;
                        border: none !important;
                    }
                    
                }
            }
        }
    }
}

// .wprf-tab-layout_email_notify {
//     .wprf-control-section {
//         .wprf-section-fields{
//             .wprf-control-section {
//                 .wprf-section-fields {
//                     .wprf-control-section {
//                         .wprf-section-fields {
//                             .wprf-control-wrapper {
//                                 .wprf-control-field {
//                                     .wprf-label-position-right {
//                                         min-width: 250px !important;
//                                         input {
//                                             border: none !important;
//                                             background-color: transparent !important;
//                                             &:focus {
//                                                 box-shadow: none ;
//                                             }
//                                         }
//                                     }
//                                 }
//                             }
//                             .wprf-type-toggle {
//                                 padding: 0 !important;
//                                 border: none !important;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }