.wpsp-admin-sidebar {
  padding: 32px;
  background: #fff;
  flex: 10%;
  width: 300px;
  justify-content: flex-start !important;
  border-radius: 6px 0 0 6px;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1439px) {
    padding: 24px;
    width: 250px;
  }
  @media screen and (max-width: 1023px) {
    padding: 20px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 8px;
    border-radius: 6px 6px;
  }
  .card {
    min-width: auto;
    max-width: 100%;
    @media screen and (max-width: 1023px) {
      flex: 0 0 calc(50% - 6px);
      max-width: calc(50% - 6px);
      margin-bottom: 12px !important;
      &:nth-child(even) {
        margin-right: 12px;
      }
    }
  }
  .upgrade-pro {
    text-align: center;
    padding: 16px 16px 22px !important;
    border-radius: 8px;
    background-color: #fcf4ed;
    box-sizing: border-box;
    margin-bottom: 32px !important;
    position: relative;
    border: none !important;
    z-index: 1;
    @media screen and (max-width: 1023px) {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px !important;
      margin-bottom: 20px !important;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75%;
      background: linear-gradient(#ffd6b2, #ffefe1);
      z-index: -1;
      clip-path: ellipse(95% 100% at center bottom);
      @media screen and (max-width: 1023px) {
        height: 100%;
        width: 75%;
        top: 0;
        left: auto;
        background: linear-gradient(to right, #ffd6b2, #ffefe1);
        clip-path: ellipse(100% 95% at center right);
      }
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 24px;
    }
    > img {
      margin-bottom: 15px;
      @media screen and (max-width: 1023px) {
        margin-bottom: 0 !important;
        width: 45%;
      }
    }
    .content {
      > h3 {
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #ff9437 !important;
        margin: 0 0 14px;
      }
      > p {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #1b1b50 !important;
        margin: 0 0 16px !important;
      }
      > button,
      > a {
        padding: 2px 24px !important;
        border: none;
        background: #ff9437 !important;
        border-radius: 6px;
        min-height: 48px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff !important;
        font-size: 14px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.3;
        box-sizing: border-box;
        gap: 0.5em;
        @media screen and (max-width: 1439px) {
          font-size: 13px;
          padding: 2px 20px !important;
          min-height: 44px;
        }
        &:before {
          content: '\e907';
          font-family: 'wpsp';
          font-size: 1.25em;
          color: #fff;
        }
      }
    }
  }
  .manage-license {
    text-align: center;
    padding: 16px 16px 22px !important;
    border-radius: 8px;
    background-color: #f3f2ff;
    box-sizing: border-box;
    margin-bottom: 32px !important;
    position: relative;
    border: none !important;
    z-index: 1;
    @media screen and (max-width: 1023px) {
      flex: 0 0 100%;
      max-width: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px !important;
      margin-bottom: 20px !important;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 75%;
      background: linear-gradient(#d1ceff, #f3f2ff);
      z-index: -1;
      clip-path: ellipse(95% 100% at center bottom);
      @media screen and (max-width: 1023px) {
        height: 100%;
        width: 75%;
        top: 0;
        left: auto;
        background: linear-gradient(to right, #d1ceff, #f3f2ff);
        clip-path: ellipse(100% 95% at center right);
      }
    }
    @media screen and (max-width: 1023px) {
      margin-bottom: 24px;
    }
    > img {
      margin-bottom: 15px;
      @media screen and (max-width: 1023px) {
        margin-bottom: 0 !important;
        width: 45%;
      }
    }
    .content {
      > h3 {
        font-family: Inter;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: #1b1b50 !important;
        margin: 0 0 14px;
      }
      > p {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #1b1b50 !important;
        margin: 0 0 16px !important;
      }
      > button,
      > a {
        padding: 2px 24px !important;
        border: none;
        background: #6c62ff !important;
        border-radius: 6px;
        min-height: 48px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #fff !important;
        font-size: 14px;
        font-family: Inter;
        font-weight: 500;
        line-height: 1.3;
        box-sizing: border-box;
        @media screen and (max-width: 1439px) {
          font-size: 13px;
          padding: 2px 20px !important;
          min-height: 44px;
        }
      }
    }
  }
  .card:last-child {
    margin-bottom: 0px;
  }
  .card {
    margin-top: 0 !important;
    padding: 16px;
    border: 1px solid #ebeef5 !important;
    border-radius: 6px;
    box-shadow: none !important;
    margin-bottom: 12px;
    > img {
      margin-bottom: 15px;
      max-width: 100%;
    }
    > i {
      font-size: 16px;
      color: #6c62ff;
      padding: 12px;
      background: #f3f2ff;
      display: inline-block;
      border-radius: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    > h3 {
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: #1b1b50;
      margin: 0 0 14px;
    }
    > p {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #6e6e8d;
      margin: 0 0 20px;
    }
    > button,
    > a {
      padding: 0;
      border: none;
      background: transparent;
      color: #6c62ff;
      cursor: pointer;
      font-size: 14px;
      font-family: Inter;
      font-weight: 500;
      line-height: 18px;
      position: relative;
      text-decoration: none;
      &:after {
        position: absolute;
        content: '\e909';
        font-family: 'wpsp';
        right: -24px;
        top: 0;
        font-size: 14px;
        color: #6c62ff;
      }
    }
  }
}
