.wpsp-admin-sidebar {
    padding: 32px;
    background: #fff;
    flex-basis: 30% !important;
    justify-content: flex-start !important;
    border-radius: 6px 0 0 6px;
    box-shadow: none;
    box-sizing: border-box;
    @media screen and (max-width: 767px)  { 
        //flex: 0 0 30% !important;
        padding: 24px;
    }
    .upgrade-pro {
        text-align: center;
        padding: 20px;
        border-radius: 8px;
        background: linear-gradient(145.02deg, #FFEFE1 43.19%, #FFD6B3 86.78%);
        box-sizing: border-box;
        margin-bottom: 20px;
        > img {
            margin-bottom: 15px;
        }
        > h3 {
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            color: #FF9437;
            margin: 0 0 14px;
        }
        > p {
            font-family: Inter;
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: #1B1B50;
            margin: 0 0 16px;
        }
        > button {
            padding: 16px 24px;
            border: none;
            background: transparent;
            color: #6C62FF;
            cursor: pointer;
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            line-height: 18px;
        }
    }
    .card {
        margin-top: 0 !important;
        padding: 20px !important;
        border: 1px solid #EBEEF5 !important;
        border-radius: 6px;
        box-shadow: none !important;
        > img {
            margin-bottom: 15px;
        }
        > h3 {
            font-family: Inter;
            font-size: 18px;
            font-weight: 500;
            line-height: 22px;
            color: #1B1B50;
            margin: 0 0 14px;
        }
        > p {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #6E6E8D;
            margin: 0 0 20px;
        }
        > button {
            padding: 0;
            border: none;
            background: transparent;
            color: #6C62FF;
            cursor: pointer;
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            line-height: 18px;
        }
    }
}