.wprf-tab-layout_social_profile {
    padding: 32px;
    background: #fff;
    h2 {
        color: #1B1B50 !important;
        font-size: 24px !important;
        line-height: 30px;
        font-weight: 600;
        margin: 0 !important;
        padding-bottom: 32px;
    }
    .social-profile-card {
        background: #F9FAFC;
        border-radius: 6px;
        padding: 24px;
        .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            h5 {
                color: #1B1B50;
                font-size: 18px;
                margin: 0;
            }
        }
    }
}