.wprf-tab-layout_social_template {
  .wprf-tabs-wrapper {
    .wprf-tab-content-wrapper {
      .wprf-tab-contents {
        .wprf-section-fields {
          .wprf-type-group {
            padding: 0 !important;
            border: none !important;
          }
          .wprf-group-control {
            display: block !important;
            .wprf-control-wrapper {
              flex-basis: 100% !important;
              background: #fff !important;
            }
          }
        }
      }
    }
  }
}
