.wprf-tab-layout_social_profile {
  background: #fff;
  .wprf-section-title {
    h4 {
      color: #1b1b50 !important;
      font-size: 24px !important;
      line-height: 30px;
      font-weight: 600;
      letter-spacing: 0px;
      margin: 0 !important;
      text-transform: capitalize !important;
      background: transparent !important;
    }
  }
  .wprf-section-fields {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 !important;
    @media screen and (max-width: 1599px) {
      grid-template-columns: repeat(1, 1fr);
    }
    .wprf-control {
      margin-bottom: 0px !important;
      .social-profile-card {
        background: #f9fafc;
        border-radius: 6px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .selected-profile {
          .linkedin-organization {
            background: #F0FAFF !important;
            color: #007AB9 !important;
          }
          .facebook-group {
            background: #F5F9FE !important;
            color: #1877F2 !important;
          }
          .pinterest-pinner {
            background: #FEF6F6 !important;
            color: #E42228 !important;
          }
        }
        .main-profile {
          padding: 24px;
          border-right: 1px solid #f0efff;
          @media screen and (min-width: 1600px) {
            padding: 20px;
          }
          .card-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            margin-bottom: 20px;
            .heading {
              display: flex;
              align-items: center;
              gap: 12px;
              img {
                width: 32px;
              }
              h5 {
                color: #1b1b50;
                font-size: 18px;
                margin: 0;
              }
            }
          }
          .card-content {
            color: #6e6e8d !important;
            font-size: 14px !important;
            line-height: 1.6px !important;
            margin: 0 0 20px !important;
            a {
              color: #1b1b50;
              font-size: 1em;
            }
          }
          .card-footer {
            display: flex;
            &.has-select {
              max-width: 250px;
            }
            .main-select {
              height: 42px;
              flex-grow: 1;
              width: 100%;
              .social-media-type-select__control {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-right-width: 0px;
                .social-media-type-select__value-container {
                  padding-top: 1px;
                  padding-bottom: 1px;
                }
              }
            }
            button {
              color: #6c62ff;
              padding: 2px 16px;
              display: inline-block;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              font-size: 14px;
              font-weight: 500;
              line-height: 1em;
              text-align: center;
              border: 1px solid #6c62ff;
              height: 42px;
              background: transparent;
              margin-left: auto;
              cursor: pointer;
              flex-shrink: 0;
              &:not(:first-child) {
                border-radius: 0 6px 6px 0;
              }
              &:first-child {
                border-radius: 6px;
              }
              @media screen and (max-width: 1023px) {
                padding: 2px 12px;
                letter-spacing: -0.05em;
              }
              &.selected {
                background-color: #6c62ff;
                color: #fff;
              }
            }
          }
        }
        .selected-profile {
          padding: 24px;
          display: flex;
          flex-direction: column;
          gap: 8px;
          justify-content: center;
          @media screen and (min-width: 1600px) {
            padding: 20px;
          }
          .empty-image {
            width: 100%;
            max-width: 200px;
            align-self: center;
            justify-self: center;
          }
          .selected-facebook-scrollbar,
          .selected-twitter-scrollbar,
          .selected-pinterest-scrollbar,
          .selected-linkedin-scrollbar {
            display: flex;
            flex-direction: column;
            gap: 8px;
          }
        }
        .profile-item {
          background: #fff;
          border-radius: 4px;
          padding: 24px;
          display: flex;
          gap: 16px;
          position: relative;
          @media screen and (min-width: 1600px) {
            padding: 20px;
            gap: 8px;
          }
          .profile-image {
            flex-shrink: 0;
            img {
              max-width: 100%;
              width: 48px;
              height: 48px;
              border-radius: 50%;
              @media screen and (min-width: 1600px) {
                width: 42px;
                height: 42px;
              }
            }
          }
          .profile-data {
            .badge {
              background: #f3f2ff;
              border-radius: 20px;
              font-size: 8px;
              padding: 0.5em 1.1em;
              line-height: 1;
              font-weight: 500;
              color: #6c62ff;
              text-transform: uppercase;
              position: absolute;
              right: 0.75em;
              top: 1em;
              box-sizing: border-box;
            }
            h4 {
              font-size: 16px !important;
              margin: 0 !important;
              color: #1b1b50;
              font-weight: 500;
              line-height: 1.25em !important;
              padding: 0 0 0.5em !important;
            }
            span {
              color: #6e6e8d;
              font-size: 14px;
              line-height: 1.1em;
              padding-bottom: 1.42em;
              display: block;
            }
            .action {
              display: flex;
              align-items: center;
              gap: 10px;
              .edit-profile {
                button {
                  font-size: 0.9em;
                  line-height: 1.25;
                  color: #6e6e8d;
                  padding: 0;
                  background: transparent;
                  border: none;
                  display: inline-flex;
                  align-items: center;
                  gap: 0.3em;
                  cursor: pointer;
                  &:before {
                    content: '\e911';
                    font-family: 'wpsp';
                    font-size: 0.9em;
                    color: #6e6e8d;
                  }
                }
              }
              .remove-profile {
                button {
                  font-size: 0.9em;
                  line-height: 1.25em;
                  color: #6e6e8d;
                  padding: 0;
                  border: none;
                  background: transparent;
                  display: inline-flex;
                  align-items: center;
                  gap: 0.3em;
                  cursor: pointer;
                  &:before {
                    content: '\e910';
                    font-family: 'wpsp';
                    font-size: 0.9em;
                    color: #6e6e8d;
                  }
                }
              }
            }
          }
        }
        .view-all {
          position: relative;
          display: inline-flex;
          justify-content: end;
          align-items: center;
          gap: 10px;
          background: transparent;
          padding: 0;
          border: none;
          font-size: 0.9em;
          font-weight: 500;
          line-height: 1.2em;
          color: #6c62ff;
          margin-top: 6px;
          cursor: pointer;
          &:after {
            content: '\e909';
            font-family: 'wpsp';
            font-size: 0.9em;
            color: #6c62ff;
          }
        }
      }
    }
  }
}

// .status {
//     display: flex;
//     align-items: center;
//     input[type="checkbox"] {
//         visibility: hidden;
//         &:checked + label {
//             background-color: #02AC6E;
//             &:before {
//                 transform: translateX(20px);
//                 background-color: #FFF;
//             }
//         }
//     }
//     label {
//         display: flex;
//         width: 40px;
//         height: 20px;
//         border-radius: 16px;
//         position: relative;
//         background: #D7DBDF;
//         transition: transform .25s ease-in-out;
//         cursor: pointer;
//         &:before {
//             transition: transform .75s ease;
//             content: "";
//             display: block;
//             position: absolute;
//             width: 18px;
//             height: 18px;
//             background-color: #fff;
//             border-radius: 16px;
//             top: 1px;
//             left: 1px;
//         }
//     }
// }

// .wpsp-modal-generate-token-button {
//     background: red !important;
// }
// .ReactModal__Overlay {
//     position: fixed;
//     inset: 0px;
//     background: rgba(228, 3, 3, 0.7) !important;
//     padding: 50px 20px;
//     display: flex;
//     overflow: auto;
//     .ReactModal__Content {
//         position: static;
//         inset: 40px;
//         border: 1px solid rgb(204, 204, 204);
//         background: rgb(48, 36, 36) !important;
//         overflow: hidden;
//         border-radius: 4px;
//         outline: none;
//         padding: 20px;
//         margin: auto;
//         max-width: 100%;
//         width: 450px;
//     }
// }
// .modal_wrapper{
//     background-color: red !important;
// }
// .ReactModal__Content.ReactModal__Content--after-open {
//     position: fixed;
//     inset: 0px;
//     background: rgba(228, 3, 3, 0.7) !important;
//     padding: 150px 120px !important;
//     display: flex;
//     overflow: auto;
// }

.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.social-media-type-select__option {
  .wprf-select-pro-option {
    display: inline-flex !important;
    align-items: center;
  }
  &--is-disabled {
    .wprf-select-pro-option {
      gap: 0.375em;
      &:after {
        height: 1.9em;
        width: 1.9em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #f6e6d7;
        border-radius: 50%;
        content: '\e907';
        font-family: 'wpsp';
        font-size: 0.7em;
        color: #ff9437;
      }
    }
  }
}
