@font-face {
  font-family: 'wpsp';
  src:  url('fonts/wpsp.eot?nsrujl');
  src:  url('fonts/wpsp.eot?nsrujl#iefix') format('embedded-opentype'),
    url('fonts/wpsp.ttf?nsrujl') format('truetype'),
    url('fonts/wpsp.woff?nsrujl') format('woff'),
    url('fonts/wpsp.svg?nsrujl#wpsp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.wpsp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpsp' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpsp-chat-2:before {
  content: "\e928";
}
.wpsp-play:before {
  content: "\e929";
}
.wpsp-dots:before {
  content: "\e903";
}
.wpsp-edit:before {
  content: "\e911";
}
.wpsp-file:before {
  content: "\e912";
}
.wpsp-prev:before {
  content: "\e913";
}
.wpsp-sidebar-opc:before {
  content: "\e914";
}
/* .wpsp-sidebar-opc .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
.wpsp-sidebar-opc .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
} */
.wpsp-facebook-2 .path1:before {
  content: "\e906";
  color: rgb(0, 0, 0);
}
.wpsp-facebook-2 .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wpsp-twitter-3:before {
  content: "\e91d";
}
.wpsp-facebook-3:before {
  content: "\e91e";
}
.wpsp-linkedin-2 .path1:before {
  content: "\e91f";
  color: rgb(0, 0, 0);
}
.wpsp-linkedin-2 .path2:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(241, 242, 242);
}
.wpsp-linkedin:before {
  content: "\e921";
}
.wpsp-pinterest-2 .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
}
.wpsp-pinterest-2 .path2:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wpsp-pinterest:before {
  content: "\e924";
}
.wpsp-support:before {
  content: "\e925";
}
.wpsp-Twitter .path1:before {
  content: "\e926";
  color: rgb(255, 255, 255);
}
.wpsp-Twitter .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.wpsp-angle-down:before {
  content: "\e90a";
}
.wpsp-angle-up:before {
  content: "\e90b";
}
.wpsp-calendar:before {
  content: "\e90c";
}
.wpsp-clock:before {
  content: "\e90d";
}
.wpsp-close:before {
  content: "\e90e";
}
.wpsp-copy:before {
  content: "\e90f";
}
.wpsp-delete:before {
  content: "\e910";
}
.wpsp-info:before {
  content: "\e917";
}
.wpsp-next:before {
  content: "\e918";
}
.wpsp-sidebar .path1:before {
  content: "\e919";
  color: ;
}
.wpsp-sidebar .path2:before {
  content: "\e91a";
  margin-left: -1em;
  color: ;
}
.wpsp-sidebar .path3:before {
  content: "\e91b";
  margin-left: -1em;
  color: ;
}
.wpsp-arrow:before {
  content: "\e909";
}
.wpsp-auto-sc:before {
  content: "\e900";
}
.wpsp-chat:before {
  content: "\e901";
}
.wpsp-comment:before {
  content: "\e902";
}
.wpsp-manual-sc:before {
  content: "\e904";
}
.wpsp-missed-sc:before {
  content: "\e905";
}
.wpsp-pro:before {
  content: "\e907";
}
.wpsp-puzzle:before {
  content: "\e908";
}
