@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
#wpsp-dashboard-body {
    font-family: 'Inter';
    @import './utils/common';
    @import './utils/header';
    @import './utils/content';
    @import './utils/sidebar';
    @import './utils/calendar';
    @import './utils/emailNotify';
    @import './utils/socialProfile';
    @import './utils/socialTemplate';
    @import './utils/manageSchedule';
    @import './utils/advance-missedSchedule';
    @import './utils/modals';
}










.ReactModal__Overlay {
    position: fixed;
    inset: 0px;
    background: rgba(1, 17, 50, 0.7) !important;
    padding: 70px 20px !important;
    display: flex;
    overflow: hidden;
    z-index: 999;
    .modal_wrapper {
        inset: 40px;
        border: none !important;
        background: rgb(255, 255, 255) !important;
        overflow: hidden;
        border-radius: 8px;
        outline: none;
        padding: 40px;
        margin: 0 auto;
        max-width: 100%;
        width: 600px !important;
        max-height: 550px;
        box-sizing: border-box;
        position: relative;
        overflow-y: auto;
        .close-button {
            position: absolute;
            top: 24px;
            right: 24px;
            background: transparent;
            border: none;
            font-size: 16px;
            color: #989FAB;
            font-weight: 500;
            cursor: pointer;
        }
        .platform-info {
            display: flex;
            align-items: center;
            gap: 12px;
            margin-bottom: 32px;
            h4 {
                font-size: 22px !important;
                margin: 0 !important;
                color: #1B1B50;
                line-height: 26px;
                font-weight: 600 !important;
                text-transform: capitalize;
            }
        }
        .toggler_wrapper {
            display: flex;
            align-items: center;
            gap: 30px;
            margin-bottom: 32px;
            input {
                margin: 0 !important;
                order: 1;
            }
            .text {
                color: #1B1B50;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
            }
        }
        .wpsp-modal-generate-token-button {
            display: inline-block;
            background: #6C62FF !important;
            color: #fff;
            padding: 20px 24px !important;
            border-radius: 6px !important;
            height: auto !important;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px !important;
            margin-bottom: 24px;border: none;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            margin: 0;
            color: #6E6E8D;
            a {
                color: #1B1B50 !important;
            }
        }
        .modalbody {
            .form-group {
                margin-bottom: 32px;
                label {
                    display: block;
                    margin-bottom: 16px !important;
                    font-weight: 500;
                    color: #1B1B50;
                    line-height: 20px;
                }
                input {
                    width: 100%;
                    padding-left: 18px;
                    padding-right: 18px;
                    min-height: 50px !important;
                    border: 1px solid #EBEEF5;
                    &:focus {
                        box-shadow: none !important;
                        outline: 0 !important;
                    }
                    &::placeholder {
                        color: #A6A6BA;
                    }
                }
                .redirect-note {
                    font-size: 14px;
                    color: #6E6E8D;
                    padding-top: 16px;
                    display: block;
                }
            }
            .wpsp-modal-social-platform {
                .wpsp-modal-save-account {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1.25em;
                    color: #fff;
                    padding: 16px 32px;
                    border: none;
                    border-radius: 6px;
                    background: #6C62FF;
                    margin-top: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}


























.wprf-toggle-wrap label.wprf-input-label {
    width: 47px;
    position: relative;
    min-height: 24px;
    height: 24px;
    max-height: 24px;
    margin-bottom: 0;
    cursor: pointer;
    display: inline-block;
    margin-right: 0px !important;
}
.wprf-toggle-wrap label.wprf-input-label:before {
    background: #D7DBDF;
    width: 47px;
    height: 24px;
    border: 0;
    left: 0;
    top: 0;
    border-radius: 16px;
    transition: all 0.4s ease;
}
.wprf-toggle-wrap.wprf-checked:before, .wprf-toggle-wrap input:checked + label:before {
    background: #02AC6E;
}

.wprf-toggle-wrap label.wprf-input-label:after {
    left: 1px;
    top: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ffffff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: none;
}
.wprf-toggle-wrap input:checked + label:after {
    left: auto;
    right: 1px;
}

.selected-profile {
    .profile-item .profile-image img {
        max-width: 50px;
        height: auto;
        border-radius: 50%;
    }
}
.status {
    .switcher {
        line-height: 0;
    }
    .wprf-switcher-checkbox {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    .wprf-switcher-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        width: 40px !important;
        height: 20px !important;
        background: #D7DBDF;
        border-radius: 100px;
        position: relative;
        transition: background-color .2s;
    }

    .wprf-switcher-label .wprf-switcher-button {
        content: '';
        position: absolute;
        top: 2px;
        left: 1px;
        width: 16px !important;
        height: 16px !important;
        border-radius: 45px;
        transition: 0.2s;
        background: #fff;
        box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
        padding: 0 !important;
    }

    .wprf-switcher-checkbox:checked + .wprf-switcher-label .wprf-switcher-button {
        left: calc(100% - 1px);
        transform: translateX(-100%);
    }

    .wprf-switcher-label:active .wprf-switcher-button {
        width: 60px;
    }
}
/* styles.css */
.custom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-toast-container {
    position: relative;
    z-index: 9999;
}
.swal2-top-end {
    margin-top: 40px;
}
.custom-toast {
    background-color: #333;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 16px;
}
.checkbox-select span , .time-select span{
    display: none;
}

.checkbox-select .select2-selection:focus {
    outline: none;
}
.checkbox-select .select2-selection__arrow {
    content: "\e909";
    font-family: 'wpsp';
    background-size: contain;
    height: 100%;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
}

.checkbox-select .select2-selection__arrow b {
    display: none;
}