#wpsp-post-panel-modal {
    background: rgba(27, 27, 80, 0.4);

    .wpsp-post-panel-content {
        box-sizing: border-box;
        max-width: 922px;
        background: #f9f8fd;
    }

    .wpsp-post-panel {

        .wpsp-post-panel-modal-settings {
            flex-basis: 60%;
            padding: 20px 10px 0 30px;

            h2 {
                margin: 0 0 20px 0;
                font-family: "Inter";
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0px;
            }

            .wpsp-post--card {
                background: rgb(255, 255, 255);
                padding: 16px;
                border-radius: 12px;
                .card--title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    gap: 8px;

                    h4.title {
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.2em;
                        font-weight: 500;
                        color: #1D2939;
                    }
                }
            }

            .wpsp-post-panel-modal-settings-schedule {
                margin-bottom: 20px;

                .wpsp-post-items--wrapper {
                    display: flex;
                    gap: 16px;

                    .wpsp-post--items {
                        flex: 1;

                        .card--title {
                            margin: 0;

                            h5 {
                                font-size: 14px;
                                color: #475467;
                                font-weight: 500;
                                margin: 0;
                                margin-bottom: 8px;

                            }
                        }
                        .wpsp-date--picker input {
                            font-size: 14px;
                            line-height: 140%;
                            color: #6e6e8d;
                            border: 1px solid #ECEFF5;
                            border-radius: 8px;
                            padding: 0 12px 0 12px;
                            min-height: 40px;
                            max-height: 40px;
                            width: 100%;
                            cursor: pointer;

                            &:focus {
                                outline: 0;
                                box-shadow: none;
                            }
                        }
                    }

                    .select--wrapper label {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                    }
                }
            }
        }

        .wpsp-modal-social-share {
            background-color: #F2F0FA;
            padding: 20px 10px 0 10px;
            flex-basis: 35%;

            h2 {
                margin: 0 0 20px 0;
                font-family: "Inter";
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0px;
            }

            .wpsp-post--card {
                background: #fff;
                padding: 16px;
                border-radius: 12px;
            }

            .wpsp-disabled-social-share-checkbox {
                .wpsp-share-checkbox {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 16px;

                    label {
                        font-size: 14px;
                        color: #1B1B50;
                        font-weight: 500;
                    }
                }
            }

            .wpsp-upload-social-banner {
                .wpsp-upload-social-banner-btn button{
                    width: 100%;
                    opacity: 1;
                    gap: 8px;
                    border-radius: 6px;
                    padding-top: 12px;
                    padding-right: 16px;
                    padding-bottom: 12px;
                    padding-left: 16px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #6C62FF;
                    border-image: initial;
                    background: #fff;
                    cursor: pointer;
                    color: #6C62FF;
                    p {
                        font-size: 11px;
                        color: #6E6E8D;
                        font-weight: 400;
                        margin: 0;
                    }
                }
                .wpsp-upload-social-banner-remove {
                    margin: 8px 0 12px;

                    .wpsp-upload-social-share-btn {
                        font-size: 12px;
                        line-height: 120%;
                        font-weight: 500;
                        padding: 12px 16px;
                        border-radius: 6px;
                        color: #fff;
                        background: #6c62ff;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            .wpsp-add-social-message-wrapper {
                p {
                    font-size: 14px;
                    color: #1B1B50;
                    font-weight: 500;
                    margin: 0 0 10px 0;
                }

                button {
                    width: 100%;
                    opacity: 1;
                    gap: 8px;
                    border-radius: 6px;
                    padding: 12px 16px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #6C62FF;
                    border-image: initial;
                    background: #6C62FF;
                    cursor: pointer;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }
            }
        }

        .wpsp-post-items--wrapper {
            .sc-publish-future {
                margin-top: 0;

                .sc-publish-future-buttons button.button {
                    background: #6C62FF !important;
                    border-radius: 6px !important;
                    border: 1px solid #6C62FF !important;

                    &:focus {
                        box-shadow: none;
                        outline: 0;
                    }
                }
            }
        }

        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            border: 1px solid #D7DBDF;
            border-radius: 4px;
            background: transparent;
            margin: 0;
            &:checked::before {
                content: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%233582c4%27%2F%3E%3C%2Fsvg%3E) / '';
                margin: -1px -3px;
                height: 16px;
                width: 18px;
            }
            &:focus {
                box-shadow: none;
                outline: 0;
            }
        }

        select {
            font-size: 14px;
            line-height: 140%;
            font-weight: 400;
            color: #6e6e8d;
            border: 1px solid #ECEFF5;
            box-shadow: none;
            border-radius: 8px;
            padding: 0 24px 0 12px;
            min-height: 40px;
            max-height: 40px;
            max-width: 25rem;
            -webkit-appearance: none;
            background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 8px top 55%;
            background-size: 12px 12px;
            cursor: pointer;
            vertical-align: middle;

            &:focus {
                border: 1px solid #6C62FF;
            }
        }
    }

    .wpsp-modal--header {
        padding: 16px 24px;
        background: #fff;
        border-bottom: 1px solid #f0f0f1;
    }

    .wpsp-modal--footer {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        background: rgb(249, 248, 253);
        padding: 12px 16px;
        border-top: 1px solid rgb(236, 239, 245);

        .btn {
            font-size: 14px;
            line-height: 1em;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 12px 16px;
            border-radius: 6px;
            border-width: initial;
            border-style: none;
            border-color: initial;
            border-image: initial;
            gap: 8px;

            &.primary-btn {
                color: rgb(255, 255, 255);
                background: rgb(108, 98, 255);
            }

            &.secondary-btn {
                color: rgb(108, 98, 255);
                background: rgb(243, 242, 255);
            }
        }
        
    }

    .wpsp-date-time-section {
        display: flex;
        gap: 16px;
        
        select {
            font-size: 14px;
            line-height: 140%;
            font-weight: 400;
            color: #6E6E8D;
            border: 1px solid #eceff5;
            box-shadow: none;
            border-radius: 8px;
            padding: 0 24px 0 12px;
            min-height: 40px;
            max-height: 40px;
            max-width: 25rem;
            -webkit-appearance: none;
            appearance: none;
            background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 8px top 55%;
            background-size: 12px 12px;
            cursor: pointer;
            vertical-align: middle;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
        input {
            font-size: 14px;
            font-weight: 400;
            line-height: 140%;
            color: #6e6e8d;
            width: 100%;
            padding: 0 12px;
            border: 1px solid #eceff5;
            border-radius: 8px;
            min-height: 40px;
            max-height: 40px;
            background: #FFFFFF;

            &:focus {
                outline: 0;
                box-shadow: none;
            }
        }
    }

    .wpsp-post-panel-inner-modal {
        // overflow-x: hidden;
    }

    // Custom social template modal styles
    .wpsp-custom-template-modal {
        max-width: 922px !important;
        width: 90vw !important;
        top: 20px;
        margin: 0 auto;
        // overflow: hidden;
    }

    .wpsp-custom-template-modal .wpsp-components-modal__header {
        border-bottom: 1px solid #ECEFF5;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px;
        background: #FFF;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .wpsp-custom-template-modal .wpsp-custom-social-doc-link:focus {
        box-shadow: none;
    }
    .wpsp-custom-template-modal .wpsp-components-modal__content.has-scrolled-content:not(.hide-header) .wpsp-components-modal__header {
        border-bottom-color: #ECEFF5;
    }
    .wpsp-custom-template-modal .wpsp-components-modal__content {
        flex: 1;
        margin-top: 0;
        overflow: auto;
        padding: 0;
    }
    .wpsp-custom-template-modal .wpsp-components-modal__header .wpsp-components-modal__header-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        color: #1D2939;
        margin: 0;
    }
    .wpsp-custom-template-modal .wpsp-components-button {
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        svg {
            width: 18px;
            height: 18px;
            fill: #475467;
            outline: none;
        }
    }
    .wpsp-custom-template-modal .wpsp-components-button svg {
        width: 18px;
        height: 18px;
        fill: #475467;
        outline: none;
    }
    .wpsp-custom-template-modal .wpsp-components-button:focus:not(:disabled) {
        box-shadow: none;
        outline: 0;
    }

}