#wpsp-post-panel-modal {
    background: rgba(27, 27, 80, 0.4);

    .wpsp-post-panel-content {
        box-sizing: border-box;
        max-width: 922px;
        background: #f9f8fd;
    }

    .wpsp-post-panel-modal-content {
        .wpsp-post-panel-modal-settings {
            flex-basis: 60%;
            padding: 20px 10px 0 30px;

            h2 {
                margin: 0 0 20px 0;
                font-family: "Inter";
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0px;
            }

            .wpsp-post--card {
                background: rgb(255, 255, 255);
                padding: 16px;
                border-radius: 12px;
                .card--title {
                    display: flex;
                    align-items: center;
                    margin-bottom: 16px;
                    gap: 8px;

                    h4.title {
                        margin: 0;
                        font-size: 16px;
                        line-height: 1.2em;
                        font-weight: 500;
                        color: #1D2939;
                    }
                }
            }

            .wpsp-post-panel-modal-settings-schedule {
                margin-bottom: 20px;

                .wpsp-post-items--wrapper {
                    display: flex;
                    gap: 10px;

                    .wpsp-post--items {
                        line-height: 0;

                        .card--title {
                            margin: 0;

                            h5 {
                                font-size: 14px;
                                color: #475467;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }

        .wpsp-modal-social-share {
            background-color: #F2F0FA;
            padding: 20px 10px 0 10px;
            flex-basis: 35%;

            h2 {
                margin: 0 0 20px 0;
                font-family: "Inter";
                font-weight: 500;
                font-size: 20px;
                line-height: 120%;
                letter-spacing: 0px;
            }

            .wpsp-post--card {
                background: #fff;
                padding: 16px;
                border-radius: 12px;
            }

            .wpsp-disabled-social-share-checkbox {
                .wpsp-share-checkbox {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-bottom: 16px;

                    input[type="checkbox"] {
                        width: 20px;
                        height: 20px;
                        border: 1px solid #D7DBDF;
                        border-radius: 4px;
                        background: transparent;
                        margin: 0;
                    }

                    label {
                        font-size: 14px;
                        color: #1B1B50;
                        font-weight: 500;
                    }
                }
            }

            .wpsp-upload-social-banner {
                .wpsp-upload-social-banner-btn button{
                    width: 100%;
                    opacity: 1;
                    gap: 8px;
                    border-radius: 6px;
                    padding-top: 12px;
                    padding-right: 16px;
                    padding-bottom: 12px;
                    padding-left: 16px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #6C62FF;
                    border-image: initial;
                    background: #fff;
                    cursor: pointer;
                    color: #6C62FF;
                    p {
                        font-size: 11px;
                        color: #6E6E8D;
                        font-weight: 400;
                        margin: 0;
                    }
                }
            }
            .wpsp-add-social-message-wrapper {
                p {
                    font-size: 14px;
                    color: #1B1B50;
                    font-weight: 500;
                    margin: 0 0 10px 0;
                }

                button {
                    width: 100%;
                    opacity: 1;
                    gap: 8px;
                    border-radius: 6px;
                    padding: 12px 16px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #6C62FF;
                    border-image: initial;
                    background: #6C62FF;
                    cursor: pointer;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                }
            }
        }
    }

    .wpsp-modal--header {
        padding: 16px 24px;
        background: #fff;
        border-bottom: 1px solid #f0f0f1;
    }

    .wpsp-post-panel-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .wpsp-modal--footer {
            display: flex;
            justify-content: flex-end;
            gap: 16px;
            background: rgb(249, 248, 253);
            padding: 12px 16px;
            border-top: 1px solid rgb(236, 239, 245);

            .btn {
                font-size: 14px;
                line-height: 1em;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 12px 16px;
                border-radius: 6px;
                border-width: initial;
                border-style: none;
                border-color: initial;
                border-image: initial;
                gap: 8px;

                &.primary-btn {
                    color: rgb(255, 255, 255);
                    background: rgb(108, 98, 255);
                }

                &.secondary-btn {
                    color: rgb(108, 98, 255);
                    background: rgb(243, 242, 255);
                }
            }
        }
    }

    .wpsp-post-panel-inner-modal {
        // overflow-x: hidden;
    }

    // Custom social template modal styles
    .wpsp-custom-template-modal {
        max-width: 922px !important;
        width: 90vw !important;
        top: 20px;
        margin: 0 auto;
        // overflow: hidden;
    }

    .wpsp-custom-template-modal .wpsp-components-modal__header {
        border-bottom: 1px solid #ECEFF5;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 32px;
        background: #FFF;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .wpsp-custom-template-modal .wpsp-custom-social-doc-link:focus {
        box-shadow: none;
    }
    .wpsp-custom-template-modal .wpsp-components-modal__content.has-scrolled-content:not(.hide-header) .wpsp-components-modal__header {
        border-bottom-color: #ECEFF5;
    }
    .wpsp-custom-template-modal .wpsp-components-modal__content {
        flex: 1;
        margin-top: 0;
        overflow: auto;
        padding: 0;
    }
    .wpsp-custom-template-modal .wpsp-components-modal__header .wpsp-components-modal__header-heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2em;
        color: #1D2939;
        margin: 0;
    }
    .wpsp-custom-template-modal .wpsp-components-button{
        align-items:center;
        border-radius:2px;
        box-sizing:border-box;
        color:var(--wp-components-color-foreground, #1e1e1e);
        height:36px;
        padding:6px 12px;
        background:none;
        border:0;
        cursor:pointer;
        display:inline-flex;
        font-family:inherit;
        font-size:13px;
        margin:0;
        text-decoration:none;
        svg {
            width: 20px;
            fill: #475467;
            outline: none;
        }
    }
    .wpsp-custom-template-modal .wpsp-components-button svg {
        width: 20px;
        fill: #475467;
        outline: none;
    }
    .wpsp-custom-template-modal .wpsp-components-button:focus:not(:disabled) {
        box-shadow: none;
        outline: 0;
    }

}