/**
 *=============================================================
 * Essential Addons Elementor Admin Settings Page Styles
 *=============================================================
 */

/* PRO Settings Page CSS */
.pro-feature-wrap h3{
	color: #120f59;
}
.pro-feature-wrap .pro-feature-item{
	margin: 50px 0;
	width: 100%;
	height: auto;
	background: #f4f4f4;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
	border-radius: 3px;
}
.pro-feature-item p{
	color: #252526;
	font-size: 16px;
	text-align: justify;
	width: 100%;
}
.pro-feature-wrap .pro-feature-item strong{
	font-size: 20px;
		background: linear-gradient(90deg,#ec70ea 0%,#8663f9 100%);
		padding: 10px 15px;
		box-sizing: border-box;
		color: #fff;
		margin-right: 10px;
		font-weight: 700;
		position: absolute;
		top: -20px;
		left: 0;
}
.pro-feature-wrap .pro-feature-item:nth-child(2) strong{
	background: linear-gradient(90deg,#3ad0bf 0%,#129dd1 100%);
}
.pro-feature-wrap .pro-feature-item:last-child strong{
	background: linear-gradient(90deg,#3084c2 0%,#8c70ed 100%);
}

/* General Style */

#adminmenu .toplevel_page_wp-scheduled-posts img {
	width: 20px;
	margin-top: -1px;
	margin-left: 5px;
}

.wpsp-settings-wrap {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: flex-start;
	padding: 15px 0px;
}

.wpsp-options-wrap {
	background-color: #fff;
	padding: 15px;
	max-width: 70em;
	height: auto;
	flex: 1 1 70%;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.wpsp-header-bar {
	height: auto;
	padding: 10px;
	background: #fff;
	border: 1px solid rgba( 0,0,0,0.1 );
	-webkit-display: flex;
	display: flex;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	-webkit-align-items: center;
	align-items: center;
}

.wpsp-settings-wrap .wpsp-header-left {
	display: flex;
	align-content: center;
	align-items: center;
}
.wpsp-header-bar .wpsp-admin-logo-inline {
	width: 32px;
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
	padding: 10px 10px 5px;
	margin-right: 10px;
}
.wpsp-header-bar .wpsp-admin-logo-inline img{
	width: 100%;
}
.wpsp-header-bar .title {
	font-size: 24px;
	color: #444;
	font-weight: 600;
	margin: 0px;
	line-height: 1;
}

.wpsp-header-left,
.wpsp-header-right {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.wpsp-header-right {
	text-align: right;
}
.wpsp-settings-tabs {
	padding-top: 15px;
}

.wpsp-settings-tab h4 {
	font-size: 22px;
}

.wpsp-settings-tab p {
	font-size: 14px;
}

.wpsp-settings-tabs ul {
	width: 100%;
	height: auto;
	margin: 25px 0px 20px 0px;
}
.wpsp-settings-tabs ul li {
	display: inline-block;
}
.wpsp-settings-tabs ul li a {
	padding: 15px 20px;
	background: #ECF0F1;
	color: #646464;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid rgba( 0,0,0,0.1 );
	border-bottom: none;
}
.wpsp-settings-tabs ul li a:focus {
	outline: none;
	box-shadow: none;
}
.wpsp-settings-tabs ul li a img {
	width: 20px;
	margin: 0 5px -3px 0;
}
.wpsp-settings-tab {
	background: #fff;
	padding: 15px 25px;
	margin-top: -8px;
	border: 1px solid rgba( 0,0,0,0.1 );
	border-top: none;
	position: relative;
}
.wpsp-settings-tabs ul li.ui-tabs-active a {
	background: #fff;
	outline: none;
	box-shadow: none;
	color: #343434;
}
p.wpsp-el-title {
	font-size: 15px;
	font-weight: 600;
	color: #333;
	margin: .5em;
}
.wpsp-settings-tab p.wpsp-elements-control-notice {
	color: #42418e;
	font-size: 16px;
	border: 1px solid #42418e;
	padding: 10px;
	text-align: center;
	display: block;
}
.wpsp-form-control {
	width: 100%;
}
textarea.wpsp-form-control {
	padding: 15px;
	font-size: 14px;
	font-weight: 600;
	color: #5d5d5d;
}
.row {
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	padding: 15px 0px;
}
.col-full {
	width: 100%;
	height: auto;
}
.col-half {
	width: 49%;
	height: auto;
}
.col-one-third {
	width: 32%;
	height: auto;
}
/* Checkbox Style */

.wpsp-checkbox-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.wpsp-checkbox {
	min-width: 250px;
	font-size: 24px;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	margin: 10px;
}
.wpsp-checkbox input[type=checkbox] {
  visibility: hidden;
  display: none;
}
.wpsp-checkbox label {
  width: 2em;
  height: 1em;
  position: relative;
  cursor: pointer;
  display: block;
}
.wpsp-checkbox label:before {
  content: '';
  position: absolute;
  width: 2em;
  height: 1em;
  left: 0.1em;
  transition: background 0.1s 0.1s ease;
  background: #CBCFD0;
  border-radius: 50px;
}
.wpsp-checkbox label:after {
  content: '';
  position: absolute;
  width: .8em;
  height: .8em;
  border-radius: 100%;
  left: .2em;
  top: .1em;
  transition: all 0.2s ease;
  box-shadow: 0 0 0 5px #fcfff4 inset;
  background: #CBCFD0;
  z-index: 2;
  animation: switch-off .3s ease-out;
}
.wpsp-checkbox input[type=checkbox]:checked + label:before {
  background: #7E86F9;
  box-shadow: inset 0px 1px 1px rgba(84, 152, 140, 0.5);
}
.wpsp-checkbox input[type=checkbox]:checked + label:after {
  left: 1.2em;
  background: #7E86F9;
  animation: switch-on .3s ease-out;
}

@keyframes switch-on {
  50% {
    transform: scaleX(1.3);
  }
}

@keyframes switch-off {
  50% {
    transform: scaleX(1.3);
  }
}
/* wpsp Tab Toggles */
.wpsp-settings-tab {
	display: none;
}
.wpsp-settings-tab.active {
	display: block;
}
.wpsp-tabs li a.active {
	background-color: #fff;
}
/* Footer Style */

.wpsp-settings-footer {
	padding: 20px 25px 15px 25px;
	background: #fff;
	margin-top: 10px;
	border: 1px solid rgba( 0,0,0,0.1 );
}
.wpsp-settings-footer .submit {
	padding: 0px;
}
.wpsp-settings-footer p.submit {
	margin-top: 0px;
}

.wpsp-settings-tab img {
	max-width: 100%;
}
.button.wpsp-btn {
	background-color: #0099CC;
	color: #fff;
	padding: 6px 20px;
	border: none;
	box-shadow: none;
	font-size: 14px;
	height: auto;
	text-transform: uppercase;
	text-shadow: none;
	letter-spacing: .05em;
}

.button.wpsp-btn:hover, .button.wpsp-btn:focus {
	background-color: #1E96F1;
	color: #fff;
}

.wpsp-save-btn-wrap {
	margin: 30px 0 20px;
}

.wpsp-save-btn-wrap .wpsp-btn {
	background-color: #3CCD94;
	color: #fff;
	padding: 10px 20px
}
.wpsp-save-btn-wrap .wpsp-btn:hover, .wpsp-save-btn-wrap .wpsp-btn:focus {
	background-color: #02CC7B;
	color: #fff;
}

.wpsp-btn.wpsp-demo-btn {
	background-color: #42418e;
	color: #fff;
}
.wpsp-btn.wpsp-demo-btn:hover, .wpsp-btn.wpsp-demo-btn:focus {
	background-color: #FF0188;
	color: #fff;
}


.wpsp-btn.wpsp-license-btn {
	background-color: #0dc9c3;
}
.wpsp-btn.wpsp-license-btn:hover, .wpsp-btn.wpsp-license-btn:focus {
	background-color: #08d1ca;
}
.wpsp-btn.wpsp-demo-btn, .wpsp-btn.wpsp-license-btn, .wpsp-btn.wpsp-review-btn {
	padding: 10px;
	display: block;
	max-width: 250px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 13px;
}
#wpsp-spinner {
	width: 18px;
	display: inline-block;
	float: left;
	margin: 3px 5px 0 0;

	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.2s;
	-webkit-animation-name: rotate;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-transition-property: -moz-transform;
	-moz-animation-name: rotate; 
	-moz-animation-duration: 1.2s; 
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;

	transition-property: transform;
	animation-name: rotate; 
	animation-duration: 1.2s; 
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.premium-elements-title {
	margin: 50px 0 30px;
}

.premium-elements-title img {
	width: 75px;
	float: left;
}

.premium-elements-title .section-title {
	color: #157EFB;
	margin: 35px 5px 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	border-bottom: 6px double #157EFB;
	padding-bottom: 10px;
	display: inline-block;
}

.go-premium .wpsp-btn.wpsp-license-btn {
	margin-top: 30px;
}

.go-premium img {
	width: 100%;
	max-width: 400px;
	display: block;
	float: right;
}
.wpsp-notice {
	background-color: #F7F6D4;
	padding: 10px 15px;
	border-radius: 5px;
	box-shadow: 0 0 15px 0 rgba(0,0,0, .15);
	max-width: 90%;
	color: #9A7223;
}

.wpsp-notice h5 {
	font-size: 1.2em;
	font-weight: bold;
}

.essential-addons-community-link {
	background-color: #475A96;
	margin: 15px 0;
	display: inline-block;
	border-radius: 3px;
}

.essential-addons-community-link:hover {
	background-color: #3351b2;
}

.essential-addons-community-link a {
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 1.4em;
	display: flex;
	align-items: center;
	align-content: center;
}

/* Header Button */
.wpsp-header-bar .wpsp-btn {
	background-color: #3CCD94;
}
.wpsp-header-bar .wpsp-btn:hover, .wpsp-header-bar .wpsp-btn:focus {
	background-color: #02CC7B;
}
.wpsp-save-btn-wrap .wpsp-btn.save-now,
.wpsp-header-bar .wpsp-btn.save-now,
.wpsp-fb-feed-btn.save-now {
	background: #E74C3C;
}
.wpsp-save-btn-wrap .wpsp-btn.save-now:hover,
.wpsp-header-bar .wpsp-btn.save-now:hover,
.wpsp-fb-feed-btn.save-now:hover {
	background: #ff5544;
}

/* Admin Blocks */

.wpsp-admin-general-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
}
.wpsp-admin-general-wrapper .wpsp-admin-general-inner {
	max-width: 70em;
	height: auto;
	flex: 1 1 70%;
}
.wpsp-admin-general-wrapper .wpsp-sidebar {
	flex: 1 1 200px;
	padding: 20px;
}
.wpsp-admin-block-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: -10px;
}
.wpsp-admin-block-wrapper .wpsp-admin-block {
	background-color: #fff;
	flex: 1 1 auto;
	min-width: 250px;
	width: 300px;
	margin: 10px 10px 25px 10px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.wpsp-admin-block-large,
.wpsp-sidebar-widget {
	background: #fff;
	margin-bottom: 25px;
	padding: 1em;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.wpsp-admin-block-wrapper .wpsp-admin-block.wpsp-admin-block-banner {
	padding: 8px;
}
.wpsp-admin-block-header {
	max-height: 4em;
	overflow: hidden;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.065);
	display: flex;
	align-content: center;
	align-items: center;
}
.wpsp-admin-block-header-icon {
	width: 42px;
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
	padding: 10px;
}
.wpsp-admin-block-header-icon svg {
	width: 80%;
	display: block;
	margin: 0 auto;
}
.wpsp-admin-block-review .wpsp-admin-block-header-icon svg {
	width: 100%;
}
.wpsp-admin-block-support .wpsp-admin-block-header-icon {
	width: 30px;
}
.wpsp-settings-tab .wpsp-admin-title {
	margin: 1em 0;
	padding: 0 1.26582em;
	font-size: 1.185em;
	font-weight: 600;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.wpsp-admin-block-content {
	overflow: hidden;
	position: relative;
	padding: 1em 1.5em 1.5em;
	background-color: #fff;
}
.wpsp-preview-img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	object-fit: cover;
	transition: all .3s;
}
.wpsp-preview-img:hover{
	opacity: .9;
}

.wpsp-admin-sidebar {
	flex: 1 1 200px;
	padding: 20px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wpsp-sidebar-block {
	margin: 1em auto;
}
.wpsp-sidebar-block .wpsp-admin-sidebar-logo {
	max-width: 150px;
	display: block;
	margin: 0 auto;
}
.wpsp-sidebar-block .wpsp-admin-sidebar-logo > img, .wpsp-sidebar-block .wpsp-admin-sidebar-logo > svg {
	width: 100%;
	display: block;
	margin: 10px auto;
}
.wpsp-admin-sidebar-cta a {
	font-size: 1em;
	color: rgba(35,40,45,0.45);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .065em;
	text-align: center;
	margin: 20px auto;
	display: block;
	border: 1px solid rgba(35,40,45,0.185);
	border-radius: 4px;
	padding: 15px;
	width: 200px;
	outline: none;
	box-shadow: none;
	transition: all .3s;
}

.wpsp-admin-sidebar-cta a:hover {
	color: #23282d;
	box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.715);
}


/* Calendar Page Style */

.manage-schedule-forms {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	margin: 0 -15px 30px -15px;
	padding-bottom: 30px;
}

.manage-schedule-forms .manage-schedule-form {
	flex: 1 1 45%;
	margin: 15px 15px 30px 15px;
	padding: 30px 15px 15px 15px;
	background-color: #fff;
	border-radius: 3px;
}

/* Manage Schedule Page */

.schedule-list {
	background-color: #f8fafc;
	margin: 0;
	padding: 5px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0, .05);
}

.schedule-list li {
	padding: 5px;
	text-align: center;
	flex: 1 1 auto;
}

.schedule-list li > span:first-child {
	background-color: #715ec8;
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.schedule-list li > span {
	padding: 8px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 7px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0, .07);
}

.schedule-list li > span a {
	color: #fff;
	background-color: #f54;
	text-decoration: none;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	opacity: .75;
}

.schedule-list li > span a:hover{
	opacity: 1;
}

.schedule-list li > span a .dashicons {
	font-size: 15px;
	line-height: 20px;
}

.miss-schedule-form {
	background-color: #30d6a9;
	padding: 20px;
	font-size: 16px;
	margin-top: 25px;
	border-radius: 3px;
	color: #fff;
	border: 1px solid rgba(0,0,0, .05);
}

.wpsp-schedule-table {
	background-color: #f8fafc;
	color: #4d4d4d;
	padding: 15px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0, .05);
}

.wpsp-schedule-table h3 {
	color: #7b6bc6;
	font-size: 14px;
	line-height: 1.5;
}

.wpsp-schedule-table tr {
	display: flex;
	align-items: center;
}

.wpsp-schedule-table th {
	font-size: 14px;
	flex: 1 1 auto;
	margin-right: 5px;
}

.wpsp-schedule-table input {
	width: 60px;
	height: 40px;
}

.wpsp-error-notice {
	background-color: #ffe5e7;
	color: #e8606d;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0, .05);
}

.wpsp-error-notice h3 {
	color: #e8606d;
	margin: 15px 0;
}

.wpsp-success-notice h3 {
	color: #26a9b4;
	margin: 15px 0;
}

.wpsp-success-notice {
	background-color: #d7f9f5;
	color: #26a9b4;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0, .05);
}

.manage-schedule-form select {
	height: 40px;
	padding: 0 10px;
	vertical-align: top;
}

.manage-schedule-form .man_options input {
	height: 40px;
	padding: 5px;
}

.manage-schedule-form .man_options input[type="button"], .manage-schedule-form .man_options input[type="submit"] {
	padding: 5px 20px;
	background-color: #2278f6;
	border: none;
	text-shadow: none;
	box-shadow: none;
}

.wpsp-scheduler-title h3 {
	font-size: 14px;
	margin: 0;
	color: #252526;
}
.wpsp-scheduler-title p {
	font-size: 12px;
	margin: 2px 0 0 0;
	font-style: italic;
}

/* Schedule Calendar */

.wpsp-calendar-wrap {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.wpsp-calendar-wrap #loading, .wpsp-calendar-wrap #draftsdrawer_loading {
	background-position: center center;
	width: 100%;
	left: auto;
}
.wpsp-calendar-wrap #topbar {
	height: auto;
	margin-bottom: 40px;
	display: block;
}

.wpsp-calendar-wrap .tablenav .tablenav-pages a {
	background-color: #2278f6;
	color: #fff;
	padding: 8px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.wpsp-calendar-wrap #showdraftsdrawer {
	padding: 10px 15px;
}

.wpsp-calendar-wrap #topbar h2, .wpsp-calendar-wrap #topbar h3 {
	margin: 0;
}


/* Utilities */

.wpsp-description-text {
	font-size: 14px;
	font-style: italic;
	padding-left: 5px;
	color: #fff;
}

.wpsp-notice-text{
	font-size: 16px;
}
.wpsp-success-text, .success {
	color: #29c251;
	font-size: 17px;
}

.wpsp-error-text{
	color: #e8606d;
	font-size: 17px;
}

#man_form table,#man_form table tr,#man_form table th,#man_form table td{
	padding: 5px;
	text-align: center;
	text-transform: capitalize;
}

.submit-button-wrap{
    position: absolute;
    bottom: 10px;
    left: 15px;
}

/* Checkbox toggle */

.wpsp-checkbox-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.checkbox-toggle{
  width: 80px;
  height: 40px;
  margin-right: 5px;
  position: relative;
}

.checkbox-toggle input[type="checkbox"]{
  width: 80px;
  height: 40px;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #e74c3c;
  border: none;
  border-radius: 2px;
  position: relative;
  outline: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}


.checkbox-toggle input[type="checkbox"]:checked::before{
	display: none;
}

.checkbox-toggle input[type="checkbox"]:after{
  position: absolute;
  content: "";
  top: 3px;
  left: 3px;
  width: 34px;
  height: 34px;
  background: #fff;
  z-index: 2;
  border-radius: 2px;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.checkbox-toggle svg{
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  fill: #fff;
  -webkit-transition: all .35s;
  transition: all .35s;
  z-index: 1;
}

.checkbox-toggle .is_checked{
  width: 18px;
  left: 13px;
  top: 16px;
  -webkit-transform: translateX(190%) translateY(-30%) scale(0);
          transform: translateX(190%) translateY(-30%) scale(0);
}

.checkbox-toggle .is_unchecked{
  width: 15px;
  right: 13px;
  top: 16px;
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

/* Checked State */
.checkbox-toggle input[type="checkbox"]:checked{
  background: #23da87;
  cursor: not-allowed;
}

.checkbox-toggle input[type="checkbox"]:checked:after{
  left: calc(100% - 37px);
}

.checkbox-toggle input[type="checkbox"]:checked + .is_checked{
  -webkit-transform: translateX(0) translateY(-30%) scale(1);
          transform: translateX(0) translateY(-30%) scale(1);
}

.checkbox-toggle input[type="checkbox"]:checked ~ .is_unchecked{
  -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
          transform: translateX(-190%) translateY(-30%) scale(0);
}

.wpsp-logo-inline {
	width: 32px;
	padding-right: 10px;
	padding-top: 5px;
}

.notice.wpsp-usage-notice {
	display: flex;
	align-content: center;
	align-items: center;
}
.wpsp-usage-notice-img .wpsp-logo-inline {
	width: 60px;
	display: block;
	box-shadow: 1px 0 0 0 rgba(0,0,0,0.1);
	margin-right: 10px;
	padding: 15px 5px 5px 0;
}

/* Lock screen */

.wpsp-lockscreen{
	max-width: 320px;
	margin: 0 auto;
	padding: 15px;
}
.wpsp-lockscreen-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wpsp-lockscreen svg {
	width: 60px;
	margin: 0px auto;
	padding: 10px;
}
.wpsp-lockscreen svg#arrow-right {
	width: 36px;
}
.wpsp-validation-title {
	margin: 15px auto;
	font-size: 24px;
	text-align: center;
}
.wpsp-admin-block.wpsp-admin-block-license {
	background: #fff;
	width: 100%;
	margin-bottom: 25px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}
.validated-feature-list {
	display: flex;
	flex-flow: row wrap;
	padding: 30px 0;
}
.validated-feature-list-item {
	flex: 1 1 48%;
	display: flex;
	align-items: center;
}
.validated-feature-list-icon {
	width: 32px;
}
.validated-feature-list-icon svg {
	width: 100%;
}
.validated-feature-list-content h4 {
	margin: 8px;
	padding: 0;
	font-size: 15px;
}
.validated-feature-list-content {
	padding: 5px;
}
.validated-feature-list-content p {
	margin: 8px;
	padding: 0;
	font-size: 13px;
}

/* License activation */

.wpsp-license-status {
	color: #008000;
	font-style: italic;
}
.wpsp-license-container {
	display: flex;
	align-content: center;
	align-items: center;
	width: 100%;
}
.wpsp-license-container .wpsp-license-input {
	flex: 1 1 auto;
}
.wpsp-license-container .wpsp-license-deactivation {
	flex: 0 0 150px;
}
.wpsp-license-container .wpsp-license-input #wp-scheduled-posts-pro-license-key {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 10px 10px 10px 35px;
	font-size: 19px;
	color: #666;
	border: 1px solid rgba(238,53,95, .25);
	border-right: 0;
	box-shadow: none;
	line-height: 1;
}
.wpsp-license-container .wpsp-license-input #wp-scheduled-posts-pro-license-key:disabled {
	border-color: rgba(20,216,161, .25);
	color: rgba(20,216,161, .5);
	font-size: 17px;
}
.wpsp-license-container .wpsp-license-buttons #submit {
	height: 50px;
	margin: 0;
	line-height: 1;
	border: none;
	border-radius: 0;
	background-color: rgba(238,53,95, .9);
	text-shadow: none;
	box-shadow: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: all .3s;
}
.wpsp-license-container .wpsp-license-buttons #submit.wpsp-license-activation-btn:hover {
background-color: rgba(238,53,95, 1);	
}

.wpsp-license-container .wpsp-license-buttons #submit.wpsp-license-deactivation-btn {
	background-color: rgba(186,110,120, .5);
	font-size: 11px;
}
.wpsp-license-container .wpsp-license-buttons #submit.wpsp-license-deactivation-btn:hover {
	background-color: rgba(186,110,120, .75);
}
.wpsp-license-instruction {
	padding: 10px;
}
.wpsp-license-icon {
	position: absolute;
}


@media only screen and (max-width: 767px) {
.manage-schedule-forms {
	flex-flow: row wrap;
}
.wpsp-settings-wrap {
	flex-flow: row wrap;
}
.wpsp-admin-sidebar {
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	margin: 15px 0 0 0;
}

}

/* review notice */

.wpdeveloper-review-notice {
	padding: 10px;
	background-color: #fff;
	border-radius: 3px;
	margin: 15px;
	border-left: 4px solid transparent;
	display: flex;
	align-items: center;
}

.wpdeveloper-review-notice:after {
	content: '';
	display: table;
	clear: both;
}

.wpdeveloper-notice-thumbnail {
	width: 90px;
	float: left;
	padding: 5px;
	text-align: center;
	border-right: 4px solid transparent;
}

.wpdeveloper-notice-thumbnail img {
	width: 72px;
	opacity: .85;
	transition: all .3s;
}

.wpdeveloper-notice-thumbnail img:hover {
	opacity: 1;
}

.wpsp-review-text {
	overflow: hidden;
}

.wpsp-review-text h3 {
	font-size: 24px;
	margin: 0 0 5px;
	font-weight: 400;
	line-height: 1.3;
}

.wpsp-review-text p {
	font-size: 13px;
	margin: 0 0 5px;
}

.wpdeveloper-notice-link {
	margin: 8px 0 0 0;
	padding: 0;
}

.wpdeveloper-notice-link li {
	display: inline-block;
	margin-right: 15px;
}

.wpdeveloper-notice-link li a {
	display: inline-block;
	color: #10738B;
	text-decoration: none;
	padding-left: 26px;
	position: relative;
}

.wpdeveloper-notice-link li a span {
	position: absolute;
	left: 0;
	top: -2px;
}

.wpdeveloper-notice-message {
	padding: 10px 0;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message {
	display: flex;
	align-items: center;
	padding: 10px 0;
}
.wpdeveloper-upsale-notice .wpdeveloper-notice-message + .notice-dismiss {
	top: 18px;
}
.wpdeveloper-upsale-notice #plugin-install-core {
	margin-left: 10px;
}
.notice.notice-has-thumbnail {
	padding-left: 0px;
}

.wpdeveloper-upsale-notice {
	display: flex;
}
.wpsp-upsale-notice .wpdeveloper-notice-thumbnail {
	padding: 0;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.wpsp-upsale-notice .wpdeveloper-notice-thumbnail img {
	width: 50px;
	padding: 8px;
}
a.wpsp-notice-cta{
	margin-left: 10px !important
}