/*
 * author: Lin.Chung
 * email: zjl_java@163.com
 * address: https://github.com/zhongjinglin/chungTimePicker
 * date: 2017/9/28
 * version: 1.0
 */

.chung-timepicker * {
	font-family: "Roboto";
	box-sizing: border-box;
	color: #333;
	font-size: 14px;
	text-align: center;
}

.chung-timepicker {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	display: block;
	min-width: 160px;
	padding: 10px;
	margin: 2px 0 0;
	text-align: left;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-color: #fff;
}

.chung-timepicker:before {
	content: '';
	position: absolute;
	display: inline-block;
	left: 10px;
	top: -7px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #ccc;
}

.chung-timepicker:after {
	content: '';
	position: absolute;
	display: inline-block;
	left: 11px;
	top: -6px;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
}

.chung-timepicker>.chung-timepicker-hours,
.chung-timepicker>.chung-timepicker-minutes {
	vertical-align: top;
}

.chung-timepicker table {
	width: 100%;
}

.chung-timepicker .title:hover {
	cursor: auto;
	background: #fff;
}

.chung-timepicker td:hover,
.chung-timepicker th:hover,
.chung-timepicker-bottom .bottom-btn:hover {
	background: #eeeeee;
	cursor: pointer;
}

.chung-timepicker td.active {
	background-color: rgb(101, 206, 167);
	color: rgb(255, 255, 255);
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.chung-timepicker td,
.chung-timepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	padding: 5px;
}

.chung-timepicker .icon-arrow-left {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 2px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url('../img/glyphicons-halflings.png');
	background-position: -240px -96px;
	background-repeat: no-repeat;
}

.chung-timepicker-bottom {
	margin-top: 5px;
}

.chung-timepicker-bottom .bottom-btn {
	display: inline-block;
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, .15);
	font-weight: 500;
}
